@font-face {
    font-family: 'chancelaresca';
    src: url('chancelarescapw.woff2') format('woff2'),
        url('chancelarescapw.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

