<% if current_account && post.essayable? %>
  <div class="mt-3">
    <% if post['Generating essay'] %>
      <p>Generating essay...</p>
    <% else %>
      <% form_tag "/posts/#{post.id}/essay" do %>
        <%= text_area_tag :prompt, value: (post['Prompt'] || post.prompt), class: 'form-control', style: 'height: 10em' %>
        <%= submit_tag 'Generate', class: 'btn btn-primary mt-1' %>
      <% end %>
    <% end %>
  </div>
<% end %>