<div class="row justify-content-center">
  <% if @json['links']['player'] %>
    <div class="col-lg-9">
      <%= @json['html'] %>
    </div>
  <% else %>
    <div class="col-lg-4">
      <%= partial :'knowledgegraph/post', locals: { post: @post, json: @json } %>
    </div>
  <% end %>
</div>
<div class="text-center mt-5">
  <% unless @json['links']['player'] %>
    <a target="_blank" class="btn btn-lg btn-primary mb-1 mb-lg-0" href="<%= @json['url'] %>">
      <i class="fas fa-book-open"></i> Read the full article
    </a>
  <% end %>
</div>
<div class="my-5">
  <%= Padrino.env == :production ? cp(:'knowledgegraph/full_network') : partial(:'knowledgegraph/full_network') %>
</div>
