# Dependencies

## Gemfile

```
source 'https://rubygems.org'

ruby '3.2.8'
gem 'activesupport'
gem 'irb'
gem 'padrino'
gem 'puma'
gem 'rack', '~> 2.0'
gem 'rake'
gem 'sass'
gem 'sinatra'

# Admin
gem 'activate-admin', github: 'stephenreid321/activate-admin'
gem 'activate-tools', github: 'stephenreid321/activate-tools'
gem 'will_paginate', github: 'mislav/will_paginate'

# Linting
gem 'better_html'
gem 'erb_lint', require: false
gem 'rubocop'

# Basics
gem 'bcrypt'
gem 'chroma'
gem 'front_matter_parser'
gem 'mail'
gem 'rack-attack'
gem 'redcarpet'
gem 'reverse_markdown'
gem 'rss'

# Data
gem 'airrecord'
gem 'delayed_job_mongoid'
gem 'dragonfly'
gem 'dragonfly-s3_data_store'
gem 'mongoid'

# Interacting with other websites
gem 'concurrent-ruby'
gem 'dropbox_api'
gem 'ferrum'
gem 'gemini-ai'
gem 'honeybadger'
gem 'http'
gem 'mechanize'
gem 'oauth'
gem 'ruby-anthropic'
gem 'ruby-openai'
gem 'ruby-progressbar'
gem 'stripe'
gem 'telegram-bot-ruby'
```

## Frontend dependencies

```
<% {
         'jquery/3.2.0' => 'jquery.min.js',
         'jqueryui/1.12.1' => 'jquery-ui.min.js',
         'popper.js/1.11.0' => 'umd/popper.min.js',
         'twitter-bootstrap/4.0.0-beta' => 'js/bootstrap.min.js',
         'select2/3.5.2' => 'select2.min.js select2.min.css',
         'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',
         'Chart.js/3.5.1' => 'chart.js',
         'js-cookie/2.2.1' => 'js.cookie.min.js',
         'cytoscape/3.9.4' => 'cytoscape.min.js',
         'chroma-js/2.0.6' => 'chroma.min.js',
         'lightgallery/1.7.2' => 'js/lightgallery.min.js css/lightgallery.min.css',
         'lg-thumbnail/1.2.1' => 'lg-thumbnail.min.js',
         'sticky-table-headers/0.1.24' => 'js/jquery.stickytableheaders.min.js',
         'datatables/1.10.16' => 'js/jquery.dataTables.min.js js/dataTables.bootstrap4.min.js css/dataTables.bootstrap4.min.css',
         'iframe-resizer/4.2.1' => 'iframeResizer.min.js',
         'date-fns/1.30.1' => 'date_fns.js',
         'typed.js/1.1.4' => 'typed.min.js',
         'font-awesome/5.14.0' => 'css/all.min.css',
         'font-awesome/4.7.0' => 'css/font-awesome.min.css',         
       }.each { |k,v| %>
<% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
<% case f.split('.').last.to_sym; when :js %>
  <script src="<%= u %>"></script>
<% when :css %>
  <link rel="stylesheet" href="<%= u %>">
<% end %>
<% } %>
<% } %>

<% [        
       '//rawcdn.githack.com/davidshimjs/qrcodejs/06c7a5e134f116402699f03cda5819e10a0e5787/qrcode.min.js',
       '//rawcdn.githack.com/tgdwyer/WebCola/aab7e61cd9580c4c89180cc0a30594e12743a242/WebCola/cola.min.js',
       '//rawcdn.githack.com/cytoscape/cytoscape.js-cola/8c78f9d5c11ff6162b7d902f0639e1f787277b9f/cytoscape-cola.js',
       '//rawcdn.githack.com/kudago/oembed-all/ef03c7332cd2538a093ed756846e86319155553a/oembed.js',
       '//cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js',
       '//cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0',
       '//cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js',
       '//cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js',
       '//unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js',
       '//platform.twitter.com/widgets.js',
       '/javascripts/toc.js',
       "/javascripts/pagelets.js?#{@cachebuster}",
       "/javascripts/app.js?#{@cachebuster}"
     ].each { |f| %>
<script src="<%= f %>"></script>
<% } %>```
