<% if current_account && params[:add] %>
  <div class="row justify-content-center">
    <div class="col-auto">
      <% form_tag "/coins/table/#{params[:tag]}", :class => 'my-3 form-inline' do %>
        <%= text_field_tag :symbol, :class => 'form-control mr-1' %>
        <%= submit_tag 'Add', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_account %>
  <% if coins.where(starred: true).count > 0 %>
    <h1 id="total" class="mt-3 text-center"><i class="fas fa-spin fa-circle-notch"></i></h1>
  <% end %>
<% end %>

<style>
  .p {
    display: block;
    padding: 0.5rem;
    height: 2rem;
  }

  .back {
    border-radius: 2.5px;
    position: relative;
    text-align: center;
    background-color: white;
    color: black;
  }

  .boundbox {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .front {
    border-radius: 2.5px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00B963;
    color: white;
  }
</style>
<script>
  $(function () {
    $(document).ajaxStop(function() {
      if (!$('#coins').hasClass('datatabled'))
        $('#coins').dataTable({
          bInfo: false,
          paging: false,
          searching: false,
          order: [[6, "desc"]]}).addClass('datatabled');

          var t = parseInt($('#coins td.holding').map(function() { return $(this).attr('data-sort') }).toArray().reduce(function(a, b) { return parseFloat(a) + parseFloat(b); }))
          $('#total').html('$' + t.toLocaleString(window.document.documentElement.lang))
          var max;
          $('#coins td.holding').each(function() {
            if (!max)
              max = parseInt($(this).attr('data-sort'))
            else if (parseInt($(this).attr('data-sort')) > max)
              max = parseInt($(this).attr('data-sort'))
          })
          $('#coins td.holding').each(function() {
              var v = parseInt($(this).attr('data-sort'))
              if (v) {
                var text = Math.round(100*v/t)+'%'
                $(this).html('\
                <div class="p back"> \
                  <span>'+text+'</span> \
                  <div class="p boundbox"> \
                    <div class="p front">'+text+'</div> \
                  </div>')
                  $(this).find('.boundbox').css('width', v/max * $(this).find('.back').width())
                  $(this).find('.front').width($(this).find('.back').width())
                  <% if current_account %>
                    $(this).find('.back').attr('title', '$' + v.toLocaleString(window.document.documentElement.lang)).tooltip()
                  <% end %>
                }
          })

    })
  })
</script>
<style>
  #coins th { border-top: 0; }
</style>
<table class="table" style="font-size: 0.9rem; border-collapse: collapse !important" id="coins">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th style="white-space: nowrap">Relative holding</th>
      <th>Current price</th>
      <th>1h</th>
      <th>24h</th>
      <th>7d</th>
      <th>Twitter followers</th>
      <th>Volume/cap</th>
      <% if current_account %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <% coins.each { |coin| %>
  <tr data-pagelet-url="/coins/<%=coin.slug%>?tag=<%=params[:tag]%>"></tr>
  <% } %>
</table>
