<% if current_account && params[:add] %>
  <div class="row justify-content-center">
    <div class="col-auto">
      <% form_tag "/coins/table/#{params[:tag]}", :class => 'my-3 form-inline' do %>
        <%= text_field_tag :symbol, :class => 'form-control mr-1' %>
        <%= submit_tag 'Add', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_account %>
  <% if coins.where(starred: true).count > 0 %>
    <h1 id="total" class="mt-3 text-center"><i class="fas fa-spin fa-circle-notch"></i></h1>
  <% end %>
<% end %>

<script>
  $(function () {
    $(document).ajaxStop(function() {
      var t = parseInt($('#coins td.holding').map(function() { return $(this).attr('data-sort') }).toArray().reduce(function(a, b) { return parseFloat(a) + parseFloat(b); }))
      $('#total').html('$' + t.toLocaleString(window.document.documentElement.lang))
      var max;
      $('#coins td.holding').each(function() {
        if (!max)
          max = parseInt($(this).attr('data-sort'))
        else if (parseInt($(this).attr('data-sort')) > max)
          max = parseInt($(this).attr('data-sort'))
      })
      $('#coins td.holding').each(function() {
          var v = parseInt($(this).attr('data-sort'))
          if (v)
            $(this).html('<div class="text-center d-none d-sm-inline-block" style="white-space: nowrap; line-height: 2; background: #00B963; width: '+ Math.round(100*v/max) +'%">'+Math.round(100*v/t)+'%' + <% if current_account %> ' $' + v.toLocaleString(window.document.documentElement.lang) <% else %>''<% end %> +'</div>')
      })
      if (!$('#coins').hasClass('datatabled'))
        $('#coins').dataTable({
          bInfo: false,
          paging: false,
          searching: false,
          order: [[6, "desc"]]}).addClass('datatabled');
    })
  })
</script>
<style>
  #coins th { border-top: 0; }
</style>
<table class="table" style="font-size: 0.9rem; border-collapse: collapse !important" id="coins">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th style="white-space: nowrap">Relative holding</th>
      <th>Current price</th>
      <th>1h</th>
      <th>24h</th>
      <th>7d</th>
      <th>Twitter followers</th>
      <th>Volume/cap</th>
      <% if current_account %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <% coins.each { |coin| %>
  <tr data-pagelet-url="/coins/<%=coin.slug%>?tag=<%=params[:tag]%>"></tr>
  <% } %>
</table>
