<% if params[:add] %>
  <div class="row justify-content-center">
    <div class="col-auto">
      <% form_tag "/coins/table/#{params[:tag]}", :class => 'my-3 form-inline' do %>
        <%= text_field_tag :symbol, :class => 'form-control mr-1' %>
        <%= submit_tag 'Add', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>

<% if coins.where(starred: true).count > 0 %>
  <h1 id="total" class="my-3 text-center"><i class="fas fa-spin fa-circle-notch"></i></h1>
<% end %>

<script>
  $(function () {
    $(document).ajaxStop(function() {
      $('#total').html('$' + parseInt($('#coins td.holding').map(function() { return $(this).attr('data-sort') }).toArray().reduce(function(a, b) { return parseFloat(a) + parseFloat(b); })).toLocaleString(window.document.documentElement.lang))
      if (!$('#coins').hasClass('datatabled'))
        $('#coins').dataTable({bInfo: false, paging: false, searching: false, order: [[6, "desc"]]}).addClass('datatabled');
    })
  })
</script>
<table class="table" style="font-size: 0.9rem; border-collapse: collapse !important" id="coins">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Holding</th>
      <th>Current price</th>
      <th>1h</th>
      <th>24h</th>
      <th>7d</th>
      <th>Twitter followers</th>
      <th>Volume/cap</th>
      <th></th>
    </tr>
  </thead>
  <% coins.each { |coin| %>
  <tr data-pagelet-url="/coins/<%=coin.slug%>?tag=<%=params[:tag]%>"></tr>
  <% } %>
</table>
