<script>
  $(function () {
    $(document).ajaxStop(function() {
      if (!$('#coins').hasClass('datatabled'))
        $('#coins').dataTable({paging: false, searching: false, order: [[5, "desc"]]}).addClass('datatabled');
    })
  })
</script>

<p class="lead text-center">Updated <%=timeago @coins.first.created_at%></p>

<table class="table" id="coins">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Current price</th>
      <th>Market cap</th>
      <th>24h volume</th>
      <th>Volume/cap</th>
      <th>1h</th>
      <th>24h</th>
      <th>7d</th>
      <th>Twitter followers</th>
      <th></th>
    </tr>
  </thead>
  <% @coins.each { |coin| %>
  <tr data-pagelet-url="/coins/<%=coin.slug%>"></tr>
  <% } %>
</table>
