  <%= ul_nav (
      [['holding', '/coins/tag/holding']] +
      [['gainers', '/coins/tag/gainers']] +
      Tag.all.sort { |tag| tag.holding ? -tag.holding : 0  }.map { |tag| [tag_badge(tag), "/coins/tag/#{tag.name}"] }
    ),
    ul_class: 'nav nav-tabs',
    li_class: 'nav-item',
    li_active_class: nil,
    a_class: 'nav-link',
    a_active_class: 'active',
    ul_id: nil,
    generate_subnav_href_and_ul: false
%>

<% case params[:tag]; when nil, 'holding' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
      :starred => true
    ).order('price_change_percentage_24h_in_currency desc')} %>

<% when 'gainers' %>

<%= partial :'crypto/coin_table', locals: {coins: Coin.where(
      :hidden.ne => true,
      :market_cap_rank.ne => nil,
      :market_cap.gte => 1_000_000,
      :total_volume.gte => 1_000_000
    ).order('price_change_percentage_24h_in_currency desc').limit(20)} %>

<% else %>

  <div data-pagelet-url="/coins/table/<%=params[:tag]%>?add=true"></div>

<% end %>
