<script>
  $(function () {
    $(document).ajaxStop(function() {
      if (!$('#coins').hasClass('datatabled'))
        $('#coins').dataTable({paging: false, searching: false, order: [[7, "desc"]]}).addClass('datatabled');
    })
  })
</script>
<table class="table" id="coins">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Current price</th>
      <th>Market cap</th>
      <th>24h volume</th>
      <th>Volume/cap</th>
      <th>1h</th>
      <th>24h</th>
      <th>7d</th>
      <th>Twitter followers</th>
      <th></th>
    </tr>
  </thead>
  <% Coin.where(
    :hidden.ne => true,
    :market_cap_rank.ne => nil,
    :market_cap.gte => 1000000,
    :total_volume.gte => 1000000,
    :price_change_percentage_24h_in_currency.gt => 20
  ).order('price_change_percentage_24h_in_currency desc').each { |coin| %>
  <tr data-pagelet-url="/coins/<%=coin.slug%>"></tr>
  <% } %>
</table>
