<%= md :crypto_investing %>

<div class="row justify-content-center">
  <div class="col-sm-9">
    <div class="text-center">
      <a href="<%=ENV['CRYPTO_COURSE_URL']%>">
        <img class="w-100" src="https://autopia.s3.amazonaws.com/2020/09/24/12/54/08/19e3b730-9f3e-45a8-9b14-b2ee8aa485cc/defi%20deep%20dive.jpg" >
      </a>
      <p class="mt-1">
        Want to go deeper? Join my next <a href="<%=ENV['CRYPTO_COURSE_URL']%>">Introduction to Crypto & DeFi</a> course
      </p>
    </div>
  </div>
</div>
