<div class="row justify-content-center">
  <div class="col-lg-9">
    <%= md :crypto_investing %>
  </div>
</div>

<table class="table table-bordered">
  <tr>
    <th>Strategy</th>
    <th style="width: 40%">CeFi option</th>
    <th style="width: 40%">DeFi option (keep your private key safe!)</th>
  </tr>
  <tr>
    <td>Just buy and hold BTC/ETH</td>
    <td>
      <ul>
        <li><a href="https://www.coinbase.com/join/reid_ie">Coinbase</a></li>
        <li><a href="https://www.binance.com/en/register?ref=12126097">Binance</a></li>
        <li><a href="https://platinum.crypto.com/r/hej37mj8vv">Crypto.com</a></li>
      </ul>
    </td>
    <td>
      <p>
        Buy BTC/ETH from one of the platforms on the left, then send it to a wallet:
      </p>
      <ul>
        <li><a href="https://www.xdefi.io/">XDEFI</a> (cross-chain wallet)</li>
        <li><a href="https://www.ledger.com/">Ledger</a> (hardware wallet, most secure)</li>
        <li><a href="https://www.argent.xyz">Argent</a>  (recommended Ethereum mobile wallet)</li>
        <li><a href="https://metamask.io/">MetaMask</a> (most common Ethereum wallet)</li>
        <li><a href="https://frame.sh/">Frame</a> (slick new Ethereum wallet)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Buy an passive index
    </td>
    <td rowspan="2" >
      <ul>
        <li>
          <a href="https://www.iconomi.com/register?ref=YGnZy">ICONOMI</a> – do me a favour by signing up <a href="https://www.iconomi.com/register?ref=YGnZy">via this referral link</a> or use the referral code YGnZy
        </li>
      </ul>
      <p>
        <a href="/metastrategy">Metastrategy</a> is my strategy on ICONOMI. It's an automated strategy with daily rebalancing that is always an intelligent mix of the current top performing strategies, and is thus a great 'set-and-forget' option. <mark>This is my top recommendation for those new to crypto investing.   <a href="/metastrategy">See here for a step-by-step guide to investing in Metastrategy.</a></mark></p>
      <p>
        You could also invest in 3-5 of the <a href="/iconomi">current top performing strategies</a>. If you choose this option I recommend you manually rebalance every 3-6 months (i.e. move your money out of any strategies that are now no longer in the top 5 and into the current top 5).</p>
    </td>
    <td>
      <ul>
        <li><a href="https://app.zerion.io/invest/defi-indexes">Zerion's DeFi Indexes page</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      Buy an actively managed portfolio/fund/strategy
      <small>(read about <a href="https://www.investopedia.com/news/active-vs-passive-investing/">active vs passive investing</a>)</small>
    </td>
    <td>
      <ul>
        <li><a href="https://nested.fi/">Nested</a></li>
        <li><a href="https://www.dhedge.org/">dHedge</a></li>
        <li><a href="https://enzyme.finance/">Enzyme</a></li>
        <li><a href="https://indexcoop.com/">Index Coop</a></li>
      </ul>
      <p>
        These are all early stage and I haven't yet used them myself.
      </p>
    </td>
  </tr>
</table>


<div class="row justify-content-center">
  <div class="col-lg-9">
    <%= md :crypto_investing_bottom %>
  </div>
</div>


<%= partial :course, locals: { text: 'Want to go deeper?' } %>
