<%= partial :'crypto/nav' %>

<script>
  $(function () {
    function tagTable() {
      if (!$('#tags').hasClass('datatabled'))
        var dt = $('#tags').dataTable({
          bInfo: false,
          paging: false,
          searching: false,
          order: [[5, "desc"]]})
          .addClass('datatabled')
          .on('draw.dt', function () {
            var i = 0;
            $("#tags td:first-child").each(function () {
              console.log(this)
                    $(this).html(++i);
                })
          } ).trigger('draw.dt');

          var t = parseFloat($('#tags td.holding').map(function() { return $(this).attr('data-sort') }).toArray().reduce(function(a, b) { return parseFloat(a) + parseFloat(b); }))

          var max;
          $('#tags td.holding').each(function() {
            if (!max)
              max = parseFloat($(this).attr('data-sort'))
            else if (parseFloat($(this).attr('data-sort')) > max)
              max = parseFloat($(this).attr('data-sort'))
          })
          $('#tags td.holding').each(function() {
              var v = parseFloat($(this).attr('data-sort'))
              if (v) {
                var text = parseFloat(100*v/t).toFixed(1)+'%'
                $(this).find('.p').html('\
                <div class="p back"> \
                  <span>'+text+'</span> \
                  <div class="p boundbox"> \
                    <div class="p front">'+text+'</div> \
                  </div>')
                  $(this).find('.boundbox').css('width', v/max * $(this).find('.back').width())
                  $(this).find('.front').width($(this).find('.back').width())
                }
          })
        }
        tagTable()
        $(document).ajaxStop(function() { tagTable() })
  })
</script>
<style>
  #tags th { border-top: 0; }
</style>
<table class="table" style="font-size: 0.9rem; border-collapse: collapse !important" id="tags">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th style="white-space: nowrap">Relative holding</th>
      <th>24h</th>
      <th>7d</th>
      <th>1h</th>
      <th>Market cap 24h</th>
    </tr>
  </thead>
  <% Tag.all.each { |tag| %>
  <tr data-pagelet-url="/tags/<%=tag.name%>">
    <%= partial :'crypto/tag', locals: { tag: tag } %>
  </tr>
  <% } %>
</table>
