<div class="row justify-content-center">
  <div class="col-lg-9">
    <img class="w-100" src="https://dandelion.ams3.cdn.digitaloceanspaces.com/2023/06/14/16/01/05/e1370ec2-47d4-4d66-857e-2ec1cd482d38/file" />

    <p class="lead mt-3">
      Life as Practice is an online course that I first ran in 
      <a href="https://dandelion.events/events/62cea5c3c7a7960010781eb3">September 2022</a>,
      and plan to run twice a year from now on.
    </p>

    <p>
      The course notes are in a rich, commentable Google Doc.
      <span class="d-none d-lg-inline"><br />
      </span>
      You can find a rough import of the doc below, with comments and links disabled.
    </p>

    <p><mark>Pay £99 and receive:</mark></p>
    <ul>
      <li>Lifetime access to the full, linked and continuously updated Google Doc with 700+ links</li>
      <li>Membership of the Life as Practice Telegram group</li>
      <li>
        A coupon for £99 off any future live edition of the course
        (i.e. your money back if you end up taking the course!) 
      </li>
    </ul>

    <div class="text-center my-4">
      <a class="btn btn-primary btn-lg" href="https://buy.stripe.com/cN2cNwaBIg6a5RmeVa">Pay £99 and access the full notes</a>
    </div>

    <iframe src="/life-as-practice/doc" class="w-100" style="height: 80vh; border: 0"></iframe>
  </div>
</div>
