Last updated <%= time_ago_in_words @network.videos.order('updated_at desc').first.updated_at %> ago.
<a href="javascript:;" onclick="$(this).hide();$(this).next().show();" class="mb-3" style="display: inline-block">What is this?</a>
<div class="card text-white bg-dark my-3" style="display: none">
  <div class="card-body">
    <p class="card-text">
      This is a knowledgegraph of <%=@network.name%>'s thinking based on YouTube transcripts.
    </p>
    <ul>
      <li>Node sizes correspond to the number of videos where a term is mentioned</li>
      <li>Edge weights correspond to the number of videos where both terms are mentioned</li>
      <li>Term definitions and 'see also' suggestions are AI-generated and not always accurate</li>
      <li>Terms include timestamped links to where the term has been used</li>
    </ul>
    <p class="mb-0">
      Feedback/want to hire me? Email me at <a href="mailto:stephen@stephenreid.net">stephen@stephenreid.net</a>
    </p>
  </div>
</div>
