<a href="javascript:;" onclick="$(this).hide();$(this).next().show();" class="mb-3" style="display: inline-block">What is this?</a>
<div class="card text-white bg-dark mb-3" style="display: none">
  <div class="card-body">
    <p class="card-text">
      This is a knowledgegraph of <%=@network.name%>'s thinking based on YouTube transcripts.
    </p>
    <ul>
      <li>Nodes are commonly mentioned terms – the larger the node, the more common the term</li>
      <li>Edge weights correspond to the number of times the terms are mentioned in the same video</li>
      <li>Term definitions and 'see also' suggestions are AI-generated and not always accurate</li>
      <li>Terms include timestamped links to where the term has been used</li>
    </ul>
    <p class="mb-0">
      Feedback/want to hire me? Email me at <a href="mailto:stephen@stephenreid.net">stephen@stephenreid.net</a>
    </p>
  </div>
</div>
