<a href="/life-as-practice" class="text-contrast text-center d-block bg-dark p-1" style="font-size: 85%; text-decoration: none">
  <span class="text-primary">Life as Practice</span>: cultivate wholeness & develop the habits to become your best self
</a>

