<a href="/metastrategy" class="text-contrast text-center d-block bg-dark p-1" style="font-size: 85%; text-decoration: none">
  My crypto fund
  <span class="text-primary">Metastrategy</span>
  has outperformed Bitcoin by 10x since inception.
</a>
