<a target="_blank" href="https://www.mindlabpro.com/" class="text-contrast text-center d-block bg-dark p-1" style="font-size: 85%; text-decoration: none">
  I've used
  <span class="text-primary">Mind Lab Pro&reg;</span>
  since 2018.
  <span class="badge badge-secondary" style="opacity: 0.5">Sponsored</span>
</a>
