<p class="lead">
  Books I've read,
  last updated <%= time_ago_in_words Time.parse(BOOKS.map { |b| b[:created] }.compact.max) %> ago
</p>

<div class="row">
  <% BOOKS.select { |b| b[:date_read] }.each { |book| %>
  <div class="col-6 col-lg-2 mb-3">
    <%= partial :book, locals: { book: book } %>
  </div>
  <% } %>
</div>
