<p class="lead">Upcoming events on <a href="https://dandelion.events">Dandelion</a> facilitated by me and/or people I recommend</p>

<iframe style="overflow: scroll; border: 0; height: 100vh; width:100%;" id="dandelion-events" src="https://dandelion.events/accounts/586d2eb3cc88ff00093f21e5/events?minimal=true"></iframe>
<script>
  $(function() {
       $('#dandelion-events').iFrameResize({log: true, checkOrigin: false, heightCalculationMethod : 'taggedElement'})
  })
</script>
