<p class="lead">
  Podcasts I follow on Spotify,
  last updated <%= time_ago_in_words Time.parse(Podcast.all(sort: { 'Created at' => 'desc'}).first['Created at']) %> ago
</p>

<div class="row">
  <% ['metamodern',
      'wild',
      'regeneration',  
      'crypto',
      'technology',      
      'conscious sexuality',
      'economics',
      'leadership',
      'meditation',
      'philosophy',
      'pop',
      'psychedelics',
      'science'].each { |c| %>
  <% Podcast.all(filter: "{Category} = '#{c}'").shuffle.each { |podcast| %>
  <div class="col-sm-6 col-lg-3 mb-3">
    <%= partial :podcast, locals: { podcast: podcast } %>
  </div>
  <% } %>
  <% } %>
  <% Podcast.all(filter: "{Category} = ''").shuffle.each { |podcast| %>
  <div class="col-sm-6 col-lg-3 mb-3">
    <%= partial :podcast, locals: { podcast: podcast } %>
  </div>
  <% } %>
</div>
