<div class="row">
  <div class="col-sm-2">
    <div class="d-none d-sm-block" id="toc"></div>
  </div>
  <div class="col-sm-8">

    <div class="blog_post">
      <h1 class="post-title"><a class="text-white" href="/blog/2021/06/18/seeds-of-solidarity-transformative-justice.html">Responding to the Seeds of Solidarity transformative justice requests</a></h1>


      <p class="d-none post-excerpt"></p>


      <p class="text-muted">







18th

 June 2021
</p>



      <div>
        <style>
      .blog_post ul {
        list-style-type: none;
        margin-bottom: 1em;
      }
      .blog_post ul li:before {
        content: '\2014';
        position: absolute;
        margin-left: -20px;
      }
</style>

<p>It has now been a week since I first read the testimonials by the Solidarity &amp; Rage/Seeds of Solidarity collective, which affected me deeply. It&#39;s been a time of intense self-reflection and emotional processing, greatly aided by conversation and the <a href="https://www.whoisstephenreid.com/resources-and-recovery">resources</a> suggested by the collective. I would like to respond to the collective&#39;s <a href="https://www.youtube.com/playlist?list=PLMAEqstRcvntxTrqiH3xIGcNtx7yKXZ7W">transformative justice</a> requests as a follow up to my <a href="/blog/2021/06/11/response-to-allegations-by-whoisstephenreid.html">initial blog post</a>.</p>

<p><em>Publicly acknowledge the serious harms outlined in the testimonials, the patterns of behaviour, and the deep hurt they have caused.</em></p>

<p>I acknowledge that the testimonials show several people were hurt by my irresponsible use of psychedelics, lack of care in intimate relationships, and lack of empathy over the period 2010-2017,
  when I was mostly in my 20s
  (for clarity, as of <%=Date.today.year%>, I am <%=(Date.today - Date.new(1985,11,29)).days.in_years.to_i%>).

  Whilst there are important details and interpretations that I contest, I understand and accept this bigger picture. I sincerely apologise to those that were hurt by my past actions in connection with these topics.</p>

<p>I understand that since I was frequently in leadership positions I had a responsibility to exercise a particularly high standard of behaviour, which I failed to do on a number of occasions. Going forward, I am committed to the safe and responsible use of psychedelics, <a href="https://doubleblindmag.com/consent/">healthy</a> and <a href="https://wheelofconsentbook.com/">empowering</a> intimacy, and deep listening and empathy.</p>

<p><em>Step back from leadership roles and ‘thought-leadership’ opportunities. This includes declining invitations to speak, deactivating his email newsletter, and resigning from leadership positions within current organisations.</em></p>

<p>
  I have <a href="https://psychedelicsociety.org.uk/news/statement-from-the-psychedelic-societydandelion-collective-on-allegations-made-against-stephen-reid">stepped back from my role at Dandelion Collective</a> (the parent organisation of The Psychedelic Society) whilst my colleagues receive independent advice on the way forward. I already held no privileged roles in the co-operative and decentralised organisations I work with.
  <strong>(edit: In collaboration with two independent professionals, my colleagues at Dandelion Collective decided I can continue with my role there, and the board of Co-ops UK decided Dandelion Collective can continue as members of Co-ops UK.)</strong>
</p>

<p>Whilst I reflect further, I will not be accepting any speaking invitations nor use my email list for the rest of 2021, though I will fulfill outstanding teaching obligations. I will spend this time focusing on my learning journey with the continued support of my UKCP-accredited psychotherapist.</p>

<p><em>Stop publicly and privately co-opting anti-oppressive movements, such as intersectionality, shamanism and ecofeminism.</em></p>

<p>I will not do anything to publicly or privately co-opt the movements named here or other anti-oppressive movements (of course I will continue to offer them my full support).</p>

<p><em>Engage in a therapeutic process with a UKCP-certified therapist (as alternative therapists are often complicit in spiritual bypassing) to enable understanding and acknowledgement of pain caused, and help prevent harmful and abusive behaviour in the future.</em></p>

<p>I have been in therapy with my UKCP-accredited therapist for six months now which has been pivotal in providing new perspectives on my past behaviour. I am committed to continuing this process and will be reflecting deeply on these events.</p>

<p>The past 10 days have been amongst the most emotionally intense of <a href="/blog/2020/03/20/karuna-journey.html">my life</a>, akin to the periods around the premature deaths of my parents. To give some idea of how my feelings have evolved:</p>

<ul>
<li>I felt shock, disbelief, indignance, fear and sadness, upon receiving the first email from the group</li>
<li>I experienced shame, fear, sorrow and anger, upon reading the testimonials</li>
<li>Despair and anguish, upon receiving an email from a major media outlet</li>
<li>Feelings of gratitude, love, hope and rectitude, upon seeing <a href="https://thisisstephenreid.com">thisisstephenreid.com</a> which acknowledges the significant learning journey I&#39;ve been on since 2017</li>
<li>Finally, acceptance, sadness, regret and remorse</li>
</ul>

<p>With time, there may be more that I feel able to share.</p>

<p>I hope that real healing for everyone involved is possible. It would mean a lot to me if this letter were published on <a href="https://whoisstephenreid.com">whoisstephenreid.com</a> (edit: on 26th June, <a href="https://www.whoisstephenreid.com/stephen-reids-reply">Seeds of Solidarity published a link to this post</a>).</p>

<p>May we all find peace,<br />
Stephen</p>

      </div>


    </div>
  </div>
</div>


<div class="row justify-content-center mb-3">
  <div class="col-7 col-sm-3">
    <a href="https://www.akpress.org/we-will-not-cancel-us.html"><img class="w-100" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1602267500l/55608932._SX318_.jpg" /></a>
    <ul class="my-3">
      <li><a href="https://www.akpress.org/we-will-not-cancel-us.html">Read about adrienne maree brown's book We Will Not Cancel Us</a></li>
      <li><a href="https://www.youtube.com/playlist?list=PLMAEqstRcvntxTrqiH3xIGcNtx7yKXZ7W">Watch Barnard Center for Research on Women's videos on Transformative Justice</a></li>
      <li><a href="https://open.spotify.com/episode/0JNNbvflHYhUeLgHp7EF4b">Podcast with adrienne on the book on The Laura Flanders show</a></li>
      <li><a href="https://open.spotify.com/episode/26BMUmf2S3sRpq7cSAS8jU">Podcast with adrienne on Cancellation, Abolition and Healing</a></li>
    </ul>
  </div>
  <div class="col-7 col-sm-3">
    <a href="https://wheelofconsentbook.com/"><img class="w-100" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1613758576l/57129176._SY475_.jpg" /></a>
    <ul class="my-3">
      <li><a href="https://wheelofconsentbook.com/">Read about Betty Martin's book The Art of Receiving and Giving: The Wheel of Consent</a></li>
      <li><a href="https://www.youtube.com/watch?v=auokDp_EA80">Watch Betty explain the Wheel of Consent</a></li>
      <li><a href="https://open.spotify.com/episode/3LrdtMFgRqX5DhnlHz6YOR">Podcast with Betty on True Consent on the Wheel</a></li>
      <li><a href="https://www.gofundme.com/f/wheel-of-consent-audiobook/topdonations">Campaign to fund an audiobook version of The Art of Receiving and Giving</a></li>
    </ul>
  </div>
  <div class="col-7 col-sm-3">
    <a href="https://clementinemorrigan.substack.com/p/i-called-my-ex-abusive-when-they"><img class="w-100" src="/images/clementine-dandelion.jpg" /></a>
    <ul class="my-3">
      <li><a href="https://clementinemorrigan.substack.com/p/i-called-my-ex-abusive-when-they">Read an essay from Clementine Morrigan's Substack</a></li>
      <li><a href="https://fuckingcancelled.libsyn.com/refusing-to-be-accountable-responsibility-boundaries-intervention-and-punishment">Listen to an episode of the podcast co-hosted by Clementine</a></li>
      <li><a href="https://www.clementinemorrigan.com/about">Personal site of Clementine Morrigan</a></li>
      <li><a href="https://www.instagram.com/clementinemorrigan/">Clementine's Instagram page</a></li>
    </ul>
  </div>

</div>
