@font-face {
    font-family: 'Zilap Evolution';
    src: url('ZilapEvolution.woff2') format('woff2'),
        url('ZilapEvolution.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

