<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">

    <div class="row justify-content-center mb-5">
      <div class="col">
        <% form_tag '/blog/ai' do %>
          <%= text_field_tag :title, placeholder: 'What do you want AI-me to write about?', class: 'form-control' %>
        <% end %>
      </div>
    </div>

  </div>
</div>
