$primary: rgb(0, 185, 99); // #00B963
$font-family-sans-serif: 'Overpass', sans-serif;

@import "bootstrap/bootstrap";

body { font-weight: 300 }
.form-control { font-weight: 300 }
b, strong { font-weight: 600 }

h2 { border-bottom: 3px solid rgb(33, 37, 41); display: inline-block }
.badge-warning { color: white }

.bgo:hover { opacity: 0 !important }

.rainbow  {
  margin: 0 auto;
  background: linear-gradient(to right, #8747e6, #47a6e6, #54e645); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog_post p, .blog_post ul, .blog_post ol { font-size: 1.15rem; line-height: 1.8rem }
.blog_post img, .blog_post video { max-width: 100% }
.blog_post h2 { display: block; border: none }

blockquote { border-left: 0.3em solid #ccc; padding-left: 1em; font-style: italic }

@media(min-width: 992px) {
  #nav .nav-item { font-size: 0.85rem }
}