
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700italic,700);

#alert-wrap { margin-top: -40px; position: absolute; z-index: 1040; width: 40%; margin-left: -20%; left: 50%; }

html, body { min-height: 100% }

body, p, h1,h2,h3,h4,h5,h6 { color: white; font-family: 'Roboto' }

a, a:hover, a:focus, a:active { color: #52C2EA }

#l > div, #r > div { background: rgba(0,0,0,0.5); padding: 20px; margin: 20px; }
@media(min-width: 768px) {
  #l > div { float: left; }
  #r > div { float: right }
  #l ul li { font-size: 16px; padding-bottom: 0.5em }
}
#hits th { cursor: pointer }
table a:not(.btn), .table a:not(.btn){ text-decoration: none }
.table a:hover { text-decoration: underline }

.navbar-inverse .navbar-nav > li > a { color: #ccc }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus { color: white }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: white }

.blog-post > hr { margin: 2em 0 }
.blog-post h2 { margin-bottom: 0.2em }
.blog-post h3.subtitle { font-weight: normal; margin-top: 0 }
.blog-post .blog-meta { margin: 0.5em 0 }
.blog-post .blog-meta .blog-posted { font-size: 14px; }
.blog-post .blog-meta .share-buttons { display: inline }
