.blog_post p,
.blog_post ul,
.blog_post ol {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 140%;
}

.blog_post video {
  max-width: 100%;
  margin: 1em 0
}

.blog_post img:not(.post-header-image) {
  max-width: 100%;
}

.blog_post h2 {
  display: block;
  border: none;
}

.blog_post h2,
.blog_post h3,
.blog_post h4 {
  margin-top: 1em;
  margin-bottom: 0.33em
}

.blog_post strong {
  font-weight: bold
}