$primary: #BD75D3;
$font-family-sans-serif: 'Overpass', sans-serif;
// $body-bg: #292C35;
// $body-color: #ABB3BF;
$font-size-base: 0.95rem;
$lead-font-size: ($font-size-base * 1.2);
@import "bootstrap/bootstrap";
$highlight-color: #E5C07C;
$code-color: #C5636C;
$contrast-color: $body-color;

@import "blog";
@import "core";
@import "datatables";
@import "range_slider";
@import "share";
@import "toc";
