.navbar-dark .navbar-nav .nav-link {
  color: $body-color
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $contrast-color
}

h2:not(.regular) {
  border-bottom: 3px solid $contrast-color;
  display: inline-block
}

p.lead {
  color: $contrast-color
}

th {
  color: $contrast-color
}

.text-contrast {
  color: $contrast-color !important
}

.text-contrast:hover {
  color: $contrast-color !important
}

.text-standard {
  color: $body-color !important
}

// .text-standard:hover {
//   color: $contrast-color !important
// }

.bg-standard {
  background: $body-bg !important
}

.btn-twitter {
  color: white;
  border-color: #379CF0;
  background-color: #379CF0
}

.btn-twitter:hover {
  color: white;
  border-color: darken(#379CF0, 10%);
  background-color: darken(#379CF0, 10%);
}

code,
pre code {
  color: $code-color
}

blockquote {
  border-left: 0.3em solid lighten($primary, 15%);
  padding-left: 1em;
  font-style: italic
}

blockquote footer {
  font-size: 1rem !important
}

small {
  font-size: 90%
}

.dropdown-item.active {
  font-weight: bold
}

.text-sm,
.text-sm p {
  font-size: 90% !important;
  line-height: 1.2rem !important
}

p.attribution {
  text-align: right;
  font-size: 0.95rem !important
}


.badge-warning {
  color: white
}

.bgo:hover {
  opacity: 0 !important
}

.tweet {
  color: black !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.tweet,
.tweet p.lead a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.tweet p.lead {
  color: black;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.tweet-text a {
  color: rgb(29, 155, 240)
}

.twitter-tweet-rendered {
  margin-top: 0 !important
}