$primary: #2DB963;
$font-family-sans-serif: 'Overpass', sans-serif;
// $body-bg
// $body-color
// $code-color
// $font-size-base
// $lead-font-size
//
//
@import "bootstrap/bootstrap";
$highlight-color: #FDFFAA;
$contrast-color: darken($body-color, 15%);

@import "core";
@import "blog";
@import "datatables";
@import "range_slider";
@import "share";
@import "toc";

mark,
.mark {
  color: $body-color;
  background: $highlight-color;
  padding-left: 0;
  padding-right: 0
}

blockquote {
  border-left: 0.3em solid lighten($primary, 25%);
}

.navbar-light .navbar-nav .nav-link {
  color: $body-color;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $contrast-color;
}