$primary: #2DB963;
$font-family-sans-serif: 'Overpass', sans-serif;
// $body-bg
// $body-color
// $code-color
// $font-size-base
// $lead-font-size
@import "bootstrap/bootstrap";
$highlight-color: #FDFFAA;
$contrast-color: $body-color;

@import "core";
@import "blog";
@import "datatables";
@import "range_slider";
@import "share";
@import "toc";
