<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item active" aria-current="page">Daniel Schmachtenberger on the Metacrisis</li>
  </ol>
</nav>

<ol>
  <% x = 10 %>
  <% terms = (Video.interesting + (plurals = Video.interesting.map { |x| x.pluralize })).uniq %>
  <% terms.map { |term| [term, Video.where(text: /#{term}/i).count] }.reject { |w,f| f == 0 || (plurals.include?(w) && f < 3) }.sort_by { |w,f| -f }.each { |w,f| %>
  <li>
    <a href="/metacrisis/terms/<%= w %>" class="text-contrast" style="font-size: <%= em = 1 + f.to_f / x; em > 2 ? 2 : em %>em">  <%= w %>   </a>
    <label class="badge badge-primary"><%=f%></label>
  </li>
  <% } %>
</ol>
