<div class="row">
  <div class="col-lg-2">
    <div class="d-none d-lg-block" id="toc"></div>
  </div>
  <div class="col-lg-8">

    <div class="blog_post">
      <h1 class="post-title"><a class="text-contrast" href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>

      {% if page.excerpt %}
      <p class="d-none post-excerpt">{{ page.excerpt }}</p>
      {% endif %}

      <p class="fira text-muted">{% include date.html date=page.date format='%o %B %Y' %}</p>

      {% if page.header_image_url %}
      <div class="mb-3 text-center">
        <img class="post-header-image" style="max-width: 100%" src="{{ page.header_image_url }}" />
      </div>
      {% endif %}

      <div>
        {{ content }}
      </div>

      <div class="mt-5 p-1">

        <div class="row justify-content-between">
          {% if page.previous.url %}
          <div class="col-auto">
            <a href="{{ page.previous.url | relative_url }}" class="card text-center shadow-sm mb-1" style="text-decoration: none">
              <div class="card-body py-1 px-3">
                <span class="text-contrast">&larr;</span>
                {{ page.previous.title }}
              </div>
            </a>
          </div>
          {% endif %}
          {% if page.next.url %}
          <div class="col-auto">
            <a href="{{ page.next.url | relative_url }}" class="card text-center shadow-sm mb-1" style="text-decoration: none">
              <div class="card-body py-1 px-3">
                {{ page.next.title }}
                <span class="text-contrast">&rarr;</span>
              </div>
            </a>
          </div>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>
