<a target="_blank" href="<%=link%>" class="bgo-container" style="position: relative; display: block; height: 200px; background-position: center; background-size: cover; background-image: url('<%=image_url%>')">
  <div class="bgo" style="background: black; opacity: 0.4; height: 100%"></div>
  <div style="position: absolute; bottom: 0;" class="p-2">
    <h3 style="color: white;" class="mb-0"><%=title%></h3>
    <p><%=%></p>
  </div>
</a>