<div class="row justify-content-center">
  <div class="col-sm-9">
    <div class="text-center">
      <a href="https://dandelion.earth/events/605f1caeed084e000d44e844">
        <img class="w-100" src="https://autopia.s3.amazonaws.com/2021/03/27/11/53/22/94475ebb-1b1a-419d-b0b5-ed8090449321/decentralisation%20event%20image.jpg">
      </a>
    </div>
  </div>
</div>
