<!-- <div class="row justify-content-center">
  <div class="col-sm-9">
    <div class="text-center">
      <a href="<%= ENV['CRYPTO_COURSE_URL'] %>">
        <img class="w-100" src="https://autopia.s3.amazonaws.com/2021/12/20/22/14/20/e27f1c5f-b459-438f-b5dd-8bddcb0178cd/web3.jpg">
      </a>
      <p class="mt-1">
        <% if defined?(text) %>
          <%= text %>
        <% end %>
        Join my next <a href="<%= ENV['CRYPTO_COURSE_URL'] %>">Introduction to web3, Crypto & DeFi</a> course
      </p>
    </div>
  </div>
</div> -->
