<div class="text-center">
  <a href="<%= discord_server['URL'] %>">
    <img onerror="this.style.display='none'" class="rounded-circle" src="<%= discord_server['Image URL'] %>">
  </a>
<h5 class="mt-2 mb-0">
  <a href="<%= discord_server['URL'] %>" class="text-dark">
    <%= discord_server['Name'] %>
  </a>
</h5>
</div>
