<div class="text-center">
  <a href="https://discord.com/channels/<%= discord_server['Channel ID'] %>">
    <img style="box-shadow: 0 0 0.5rem rgba(0,0,0,0.75)" onerror="this.src='/images/blank.png'" class="rounded-circle" src="<%= discord_server['Image URL'] %>">
  </a>
  <h5 class="mt-2 mb-0">
    <a href="https://discord.com/channels/<%= discord_server['Channel ID'] %>" class="text-contrast">
      <%= discord_server['Name'] %>
    </a>
  </h5>
</div>
