<div class="text-center">
  <a href="https://discord.com/channels/<%= discord_server['Channel ID'] %>">
    <img onerror="this.src='/images/blank.png'" class="rounded-circle" src="<%= discord_server['Image URL'] %>">
  </a>
<h5 class="mt-2 mb-0">
  <a href="https://discord.com/channels/<%= discord_server['Channel ID'] %>" class="text-dark">
    <%= discord_server['Name'] %>
  </a>
</h5>
</div>
