<%
[
  ['Github', 'http://github.com/stephenreid321'],  
  ['Ethereum', 'https://etherscan.io/address/stephenreid.eth'],
[],
  ['Anchor', 'http://anchor.fm/stephenreid321'],
  ['Youtube', 'https://www.youtube.com/channel/UCHv6VkfPWq-Rkk2HKZ8A2BA'],                
[],
  # ['Spotify', ''],
  ['Bandlab', 'http://bandlab.com/stephenreid321'],
  ['Soundcloud', 'https://soundcloud.com/stephenreid321/sets/stephen-reid'],
[],
  ['Medium', 'https://medium.com/@stephenreid321'],  
  ['Google Maps', 'https://www.google.co.uk/maps/contrib/102982136084858811312/reviews/'],
  ['Goodreads', 'http://goodreads.com/stephenreid321'],
  ['IMDb', 'https://www.imdb.com/user/ur85653381/'],
[],  
  ['Steem', 'https://steemit.com/@stephenreid321'],
  ['Reddit', 'https://reddit.com//user/stephenreid321'],                    
  ['Facebook', 'http://facebook.com/stephenreid321'],  
  ['Twitter', 'http://twitter.com/stephenreid321'],
  ['Instagram', 'http://instagram.com/stephenreid321'],
  ['LinkedIn', 'https://www.linkedin.com/in/stephenreid321'],
  ['Are.na', 'https://www.are.na/stephen-reid']  
  ].each { |network,url|
%>
  <% if network %>
    <div class="col-auto">
      <a style="text-decoration:none" class="text-dark" data-toggle="tooltip" title="<%=url.split('/')[3..-1].join('/')%>" target="_blank" href="<%=url%>">
        <%=network%>
      </a>                  
    </div>                  
  <% else %>
    
  <% end %>
<% } %>