
<form action="https://stephenreid.us18.list-manage.com/subscribe/post?u=b319030fc545a24d344ab37f9&amp;id=cb2c77dedc" method="post" target="_blank" class="form-inline">                          
  <input type="text" value="" name="FNAME" class="form-control mr-1 mb-1 mb-sm-0"  placeholder="First name">
  <input type="text" value="" name="LNAME" class="form-control mr-1 mb-1 mb-sm-0"  placeholder="Last name">      
  <input type="email" value="" name="EMAIL" class="required email form-control mr-1 mb-1 mb-sm-0" required="required" placeholder="Email*">  
  <input type="submit" value="Subscribe" name="subscribe" class="btn btn-primary button">
</form>  