<h4>Join my mailing list</h4>
<form action="https://stephenreid.us18.list-manage.com/subscribe/post?u=b319030fc545a24d344ab37f9&amp;id=cb2c77dedc" method="post" target="_blank">                          
  <input type="email" value="" name="EMAIL" class="required email form-control mb-1" required="required" placeholder="Email*">
  <input type="text" value="" name="FNAME" class="form-control mb-1"  placeholder="First name">
  <input type="text" value="" name="LNAME" class="form-control mb-1"  placeholder="Last name">      
  <input type="submit" value="Subscribe" name="subscribe" class="btn btn-primary button">
</form>  