<style>
  #nav .navbar-brand { font-size: 2em; }
  #nav .navbar-brand:hover { }
    @media(min-width: 992px) {
      #nav .nav-item {  }
    }
    #nav .nav-item { font-size: 0.85rem; padding-right: 0.5rem; }
    #nav .nav-link.active { font-weight: bold }
</style>

<% if @stylesheet == 'dark' && !@hide_sponsors %>
  <%= partial :"sponsors/#{Dir['app/views/sponsors/*'].map { |f| f.split('/_').last.gsub('.erb','') }.sample}" %>
<% end %>

<div id="nav">
  <nav class="navbar navbar-expand-lg navbar-<%=@stylesheet%>">
    <a class="navbar-brand" href="/">
      <img src="/images/octopus-circle.png" style="height: 30px; position: relative; top: -1px">
    </a>
    <a style="font-family: 'Zilap Evolution'" class="navbar-brand" href="/">Stephen Reid</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= ul_nav [
            # ['AI consulting', '/ai-consulting'],
            # ['Group facilitation', '/facilitation'],
            ['Technological Metamodernism', '/technological-metamodernism'],
            ['Coaching', '/coaching'],            
            # ['Futurecraft', 'https://dandelion.events/e/futurecraft-apr-2024'],
            # ['Intro to AI', 'https://dandelion.events/e/intro-to-ai-feb-2024'],            
            # ['Podcast', '/podcast']        
            ['Events', '/events'],                        
            ['Metastrategy', '/metastrategy'],   
            ['Courses', Course.all.map { |c| [c['Name'], '/courses/'+c['Slug']] }],                         
            ['Knowledge',
             [
               ['My knowledgegraph', '/knowledgegraph'],
               ['Other knowledgegraphs', '/k'],               
               ['Blog', '/blog'],
               # ['meGPT', 'https://chatgpt.com/g/g-MIY7jLMJ4-stephen-reid'],
               # ['AI-generated blog', '/ai'],               
               ['Tao Te Ching', '/tao-te-ching'],               
               ['Books', '/books'],
               ['Films', '/films'],
              #  ['Podcasts', '/podcasts'],
               ['Speaking engagements', '/speaking-engagements'],
               ['Treasure map', 'https://www.google.com/maps/d/u/0/edit?mid=1QWAa8AYdFShGu6AgvK0ePUkgogGFEl8'],
               ['Prompt', '/prompt'],
              #  ['Ma Earth', '/ma-earth'],
              #  ['Diet', '/diet']
              #  ['Software', '/software'],
              #  ['Discord servers', '/discord'],       
             ]],             
            # ['Wisdom',
            #  [               
            #    ['Tarot', '/tarot'],
            #    ['Rob Burbea', 'https://hermesamara.org/teachings']
            #  ]],
              # [
                # ['Crypto investing: a very short introduction', '/crypto-investing'],
                # ['ICONOMI strategy evaluator', '/iconomi'],                
                # ['How to DAO', 'https://docs.google.com/document/d/1jxbb3YkrjAT1TUe6W2yCFUAsXUhdVt5JYoJwmMfykoQ/edit'],                
                # ["Coins I'm watching", 'https://www.coingecko.com/en/portfolios/public/stephenreid321']
              # ]]
            # ['Recommendations', '/products']
          ], ul_class: 'navbar-nav mr-auto', li_class: 'nav-item', a_class: 'nav-link' %>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-lg-inline">
          <a target="_blank" class="btn btn-secondary btn-sm" href="mailto:stephen@stephenreid.net">Email me</a>
        </li>
        <li class="nav-item d-none d-lg-inline">
          <a target="_blank" class="btn btn-primary btn-sm" href="https://stephenreid.substack.com/">Subscribe on Substack</a>
        </li>
        <li class="nav-item d-lg-none">
          <a target="_blank" class="btn btn-secondary mb-1 mt-2" href="mailto:stephen@stephenreid.net">Email me</a>
        </li>
        <li class="nav-item d-lg-none">
          <a target="_blank" class="btn btn-primary mb-1" href="https://stephenreid.substack.com/">Subscribe on Substack</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
<script>
  $("#nav a[href^=http]").attr('target', '_blank')
  $("#nav a[href^='/courses']").attr('target', '_blank')
  $.map(['blog', 'tao-te-ching', 'coins'], function(x,i) {
    if (window.location.href.includes('/'+x))
      $("#nav a[href='/"+x+"']").addClass('active')
  })
  $('.dropdown-item.active').closest('.dropdown').find('.dropdown-toggle').addClass('active')
</script>
