<div id="nav" class="mt-2">
  <%= ul_nav [    
    ['Bio', '/'],
    ['Places', '/places'],
    ['A good day', '/a-good-day'],    
    ['Podcasts', '/podcasts'],
    ['Darknet', '/darknet'],
    ['Tarot', '/tarot'],
    ['Calendar', '/calendar'],
    ], ul_class: 'nav nav-pills mb-2', li_class: 'nav-item', a_class: 'nav-link' %>
</div>