<div id="nav" class="mt-2">
  <%= ul_nav [
    ['Places', '/'],
    ['Calendar', '/calendar'],
    ['Bio', '/bio'],
    ['Aspirations', '/aspirations'],
    ['Podcasts', '/podcasts'],
    ['Art', '/art'],
    ['Tarot', '/tarot'],
    ], ul_class: 'nav nav-pills mb-2', li_class: 'nav-item', a_class: 'nav-link' %>
</div>