
<script>
  $(function () {
    $("#nav a[href^=http]").attr('target', '_blank')
  })
</script>       

<style>                 
  #nav .nav-item { padding-right: 1rem; }
  #nav .nav-link.active { font-weight: bold }
</style>      

<div id="nav">
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= ul_nav [    
        ['Home', '/'],      
        ['About', '/about'],      
        ['Blog', '/blog'],      
        ['Newsletter', 'http://stephenreid.substack.com/'],      
        ['Podcast', '/podcast'],      
        ['Books', '/books'],
        ['Software', '/software'],
        ['Groups', '/groups'],
        ['Diet', '/diet'],
        ['Tao Te Ching', '/tao-te-ching'],
        ['Recommendations', '/products'],
        ['Book a call', 'https://calendly.com/stephenreid321'],
        ['Donate', '/donate']
        ], ul_class: 'navbar-nav mr-auto', li_class: 'nav-item', a_class: 'nav-link text-primary' %>   

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-dark" href="mailto:stephen@stephenreid.net">stephen@stephenreid.net</a>       
        </li>
      </ul>      
    </div>
  </nav>
</div>

<script>
  $(function () {
    if (window.location.href.includes('/blog'))
      $("#nav a[href='/blog']").css('font-weight', 'bold')
  })
</script>
