
<script>
  $(function () {
    $("#nav a[href^=http]").attr('target', '_blank')
  })
</script>       


<div class="row justify-content-center my-4">
  <div class="col col-sm-auto" id="nav">
    <%= ul_nav [    
      ['Home', '/'],
      ['Places & Plans', '/places-plans'],
      ['Podcast', '/podcast'],            
      ['Habits', '/habits'],  
      ['Diet', '/diet'],        
      ['Tarot', '/tarot']
      ], ul_class: 'nav nav-pills mb-2', li_class: 'nav-item', a_class: 'nav-link' %>
  </div>
</div>