<style>
  #nav .navbar-brand { font-size: 2em; }
  #nav .navbar-brand:hover { }
    @media(min-width: 992px) {
      #nav .nav-item {  }
    }
    #nav .nav-item { font-size: 0.85rem; padding-right: 0.5rem; }
    #nav .nav-link.active { font-weight: bold }
</style>

<div id="nav">
  <nav class="navbar navbar-expand-lg navbar-<%=@stylesheet%>">
    <a class="navbar-brand" href="/">
      <img src="/images/octopus-circle.png" style="height: 30px; position: relative; top: -1px">
    </a>
    <a style="font-family: 'Zilap Evolution'" class="navbar-brand" href="/">Stephen Reid</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= ul_nav [
            ['Background', '/background'],   
            ['Coaching', '/coaching'],                        
            ['Courses',             
            [['Life as Practice (Sep 2025)', 'https://lifeaspractice.com/']] +
            Course.all.sort_by { |c| c['Date'] || Time.now }.reverse.map { |c| [c['Name'], '/courses/'+c['Slug']] }
            ],                                     
            ['Events', '/events'],              
            ['LLMs', '/llms'],              
            ['Metastrategy', '/metastrategy'],               
            ['Knowledge',
             [
               ['My knowledgegraph', '/knowledgegraph'],
               ['Books', '/books'],
               ['Films', '/films'],
               ['Speaking engagements', '/speaking-engagements'],
               ['Treasure map', 'https://www.google.com/maps/d/u/0/edit?mid=1QWAa8AYdFShGu6AgvK0ePUkgogGFEl8'],
               ['Stockholm', 'https://www.google.com/maps/d/u/0/edit?mid=1X51vy5tXN9BuueD9jVDCQd2M5AF-l5k'],
             ]],             
          ], ul_class: 'navbar-nav mr-auto', li_class: 'nav-item', a_class: 'nav-link' %>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-lg-inline">
          <a target="_blank" class="btn btn-secondary btn-sm" href="mailto:stephen@stephenreid.net">Email me</a>
        </li>
        <li class="nav-item d-none d-lg-inline">
          <a target="_blank" class="btn btn-primary btn-sm" href="https://stephenreid.substack.com/">Subscribe on Substack</a>
        </li>
        <li class="nav-item d-lg-none">
          <a target="_blank" class="btn btn-secondary mb-1 mt-2" href="mailto:stephen@stephenreid.net">Email me</a>
        </li>
        <li class="nav-item d-lg-none">
          <a target="_blank" class="btn btn-primary mb-1" href="https://stephenreid.substack.com/">Subscribe on Substack</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
<script>
  $("#nav a[href^=http]").attr('target', '_blank')
  $("#nav a[href^='/courses']").attr('target', '_blank')
  $('.dropdown-item.active').closest('.dropdown').find('.dropdown-toggle').addClass('active')
</script>
