<style>
#nav .navbar-brand { font-size: 2em; }
#nav .navbar-brand:hover { }
  @media(min-width: 992px) {
    #nav .nav-item {  }
  }
  #nav .nav-item { padding-right: 1rem; }
  #nav .nav-link.active { font-weight: bold }
</style>
<div id="nav">
  <nav class="navbar navbar-expand-lg navbar-<%=@stylesheet%>">
    <a style="font-family: 'Zilap Evolution'" class="navbar-brand" href="/">Stephen Reid</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= ul_nav [
            # ['Updates',
            #  [
            #    ['Newsletter', 'https://stephenreid.substack.com/'],
            #    ['Blog', '/blog'],
            #    ['Podcast', '/podcast']
            #  ]],
            ['Lunarpunk Dreams', '/lunarpunk-dreams'],
            ['Knowledge',
             [
               ['Knowledgegraph', '/knowledgegraph'],
               ['Books', '/books'],
               ['Maps', '/maps'],
               ['Podcasts', '/podcasts'],
               ['Software', '/software'],
               ['Discord servers', '/discord'],
             ]],
            ['Wisdom',
             [
               ['Tao Te Ching', '/tao-te-ching'],
               ['Tarot', '/tarot']
             ]],
             ['Crypto',
              [
                ['Crypto investing: a very short introduction', '/crypto-investing'],
                ['ICONOMI strategy evaluator', '/iconomi'],
                ['Metastrategy', '/metastrategy'],
                ['Introduction to Crypto & DeFi', ENV['CRYPTO_COURSE_URL']],
                ['How to DAO', 'https://docs.google.com/document/d/1jxbb3YkrjAT1TUe6W2yCFUAsXUhdVt5JYoJwmMfykoQ/edit']
              ]],
              ['Performance',
                [
                  ['5km run times', '/5km-run-times'],
                  ['Svenska', '/svenska']
                ]
              ],
              ['Events', '/events']
            # ['Recommendations', '/products']
          ], ul_class: 'navbar-nav mr-auto', li_class: 'nav-item', a_class: 'nav-link' %>
      <ul class="navbar-nav ml-auto">



        <li class="nav-item d-none d-sm-inline">
          <a target="_blank" class="btn btn-secondary btn-sm" href="mailto:stephen@stephenreid.net">Email me</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <a target="_blank" class="btn btn-primary btn-sm" href="https://stephenreid.substack.com/">Subscribe</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <a target="_blank" class="btn btn-sm btn-twitter" href="https://twitter.com/lunarpunk_0x">Follow</a>
        </li>
        <li class="nav-item d-sm-none">
          <a target="_blank" class="btn btn-secondary mb-1 mt-2" href="mailto:stephen@stephenreid.net">Email me</a>
        </li>
        <li class="nav-item d-sm-none">
          <a target="_blank" class="btn btn-primary mb-1" href="https://stephenreid.substack.com/">Subscribe</a>
        </li>
        <li class="nav-item d-sm-none">
          <a target="_blank" class="btn btn-twitter"  href="https://twitter.com/lunarpunk_0x">Follow</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<script>
  $("#nav a[href^=http]").attr('target', '_blank')
  $.map(['blog', 'tao-te-ching', 'coins'], function(x,i) {
    if (window.location.href.includes('/'+x))
      $("#nav a[href='/"+x+"']").addClass('active')
  })
  $('.dropdown-item.active').closest('.dropdown').find('.dropdown-toggle').css({'font-weight': 'bold', 'color': 'white'})
</script>
