<style>
  @media(min-width: 992px) {
    #nav .nav-item { font-size: 0.8rem }
  }
  #nav .nav-item { padding-right: 1rem; }
  #nav .nav-link.active { font-weight: bold }
</style>
<div id="nav">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Stephen Reid</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= ul_nav [
        ['Updates',
          [
            ['Newsletter', 'https://stephenreid.substack.com/'],
            ['Blog', '/blog'],
            ['Podcast', '/podcast'],
          ]
        ],
        ['Knowledge',
          [
            ['Knowledgegraph', '/knowledgegraph'],
            ['Books', '/books'],
            ['Software', '/software'],
            ['Groups', '/groups'],
          ]
        ],
        ['Crypto',
          [
            ['Crypto investing: a very short introduction', '/crypto-investing'],
            ['ICONOMI strategy evaluator', '/iconomi'],
            ['Metastrategy', '/metastrategy'],
            ["Coins I'm watching", 'https://autopia.co/u/stephenreid321'],
            ['Introduction to Crypto & DeFi', ENV['CRYPTO_COURSE_URL']],
            ['Bitcoin whitepaper', '/bitcoin.pdf'],
            ['Ethereum whitepaper', 'https://ethereum.org/en/whitepaper/']
          ]
        ],
        ['Wisdom',
          [
          ['Tao Te Ching', '/tao-te-ching'],
          ['Tarot', '/tarot']
        ]
        ],
        ['Services', '/services'],
        ['Recommendations', '/products'],
        ], ul_class: 'navbar-nav mr-auto', li_class: 'nav-item', a_class: 'nav-link' %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-dark" href="mailto:stephen@stephenreid.net">stephen@stephenreid.net</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<script>
  $("#nav a[href^=http]").attr('target', '_blank')
  $.map(['blog', 'tao-te-ching', 'coins'], function(x,i) {
    if (window.location.href.includes('/'+x))
      $("#nav a[href='/"+x+"']").addClass('active')
  })
  $('.dropdown-item.active').closest('.dropdown').find('.dropdown-toggle').css({'font-weight': 'bold', 'color': 'rgba(0, 0, 0, 0.9)'})
</script>
