<style>
#nav .navbar-brand { font-size: 2em; }
#nav .navbar-brand:hover { }
  @media(min-width: 992px) {
    #nav .nav-item { font-size: 0.8rem }
  }
  #nav .nav-item { padding-right: 1rem; }
  #nav .nav-link.active { font-weight: bold }
</style>
<div id="nav">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand ze" href="/">Stephen Reid</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= ul_nav [
            ['Updates',
             [
               ['Newsletter', 'https://stephenreid.substack.com/'],
               ['Blog', '/blog'],
               ['Podcast', '/podcast']
             ]],
            ['Knowledge',
             [
               ['Knowledgegraph', '/knowledgegraph'],
               ['Books', '/books'],
               ['Podcasts', '/podcasts'],
               ['Software', '/software'],
             ]],
            ['Crypto',
             [
               ['Crypto investing: a very short introduction', '/crypto-investing'],
               ['ICONOMI strategy evaluator', '/iconomi'],
               ['Metastrategy', '/metastrategy'],
               ["Coins I'm watching", 'https://autopia.co/u/stephenreid321'],
               ['Introduction to Crypto & DeFi', ENV['CRYPTO_COURSE_URL']],
               ['Bitcoin whitepaper', '/bitcoin.pdf'],
               ['Ethereum whitepaper', 'https://ethereum.org/en/whitepaper/']
             ]],
            ['Wisdom',
             [
               ['Tao Te Ching', '/tao-te-ching'],
               ['Tarot', '/tarot']
             ]],
            ['Services', '/services'],
            ['Recommendations', '/products']
          ], ul_class: 'navbar-nav mr-auto', li_class: 'nav-item', a_class: 'nav-link' %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-inline">
          <a target="_blank" class="btn btn-secondary btn-sm mb-1 mb-sm-0" href="mailto:stephen@stephenreid.net">Email me</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <a target="_blank" class="btn btn-primary btn-sm" href="https://stephenreid.substack.com/">Subscribe</a>
        </li>
        <li class="nav-item d-sm-none">
          <a target="_blank" class="btn btn-secondary mb-1 mb-sm-0" href="mailto:stephen@stephenreid.net">Email me</a>
        </li>
        <li class="nav-item d-sm-none">
          <a target="_blank" class="btn btn-primary" href="https://stephenreid.substack.com/">Subscribe</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<script>
  $("#nav a[href^=http]").attr('target', '_blank')
  $.map(['blog', 'tao-te-ching', 'coins'], function(x,i) {
    if (window.location.href.includes('/'+x))
      $("#nav a[href='/"+x+"']").addClass('active')
  })
  $('.dropdown-item.active').closest('.dropdown').find('.dropdown-toggle').css({'font-weight': 'bold', 'color': 'rgba(0, 0, 0, 0.9)'})
</script>
