<a target="_blank" href="<%=organisation['URL'] || "http://facebook.com/#{organisation['Facebook page username']}"%>" class="bgo-container organisation" style="position: relative; display: block; height: 130px; background-position: center; background-size: cover; background-image: url('<%=organisation['Image'].first['url']%>')">
  <div class="bgo" style="background: black; opacity: 0.4; height: 100%"></div>
  <div style="position: absolute; bottom: 0;" class="p-2">
    <h3 style="color: white;" class="mb-0"><%=organisation['Name']%></h3>
    <% if @view == 'map' %>
      <p style="color: white; font-size: 0.9rem" class="mb-0"><%=Organisation.categories.invert[organisation['Interest']]%></p>
    <% end %>
  </div>
</a>