<div class="my-3" style="max-width: 700px">
  <canvas id="canvas"></canvas>
  <script>

    colors = []

    var config = {
      type: 'pie',
      data: {
        datasets: [{
            data: <%=data%>,
            backgroundColor: <%= [
  '#4dc9f6',
  '#f67019',
  '#f53794',
  '#537bc4',
  '#acc236',
  '#166a8f',
  '#00a950',
  '#58595b',
  '#8549ba'             
  ] %>
          }],
        labels: <%=labels%>
      },
      options: {
        responsive: true,
        legend: {
          display: true
        },
        tooltips: {
          enabled: true,
          mode: 'single',
          callbacks: {
            label: function (tooltipItem, data) {
              var label = data.labels[tooltipItem.index];
              var datasetLabel = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
              return label + ': ' + datasetLabel + '%';
            }
          }
        }
      }
    };

    window.onload = function () {
      var ctx = document.getElementById("canvas").getContext("2d");
      window.myPie = new Chart(ctx, config);
    };

  </script>
</div>
