<a target="_blank" href="<%=place.website%>" class="bgo-container" style="position: relative; display: block; height: 200px; background-position: center; background-size: cover; background-image: url('<%=place.image.url%>')">
  <div class="bgo" style="background: black; opacity: 0.4; height: 100%"></div>
  <div style="position: absolute; bottom: 0;" class="p-2">
    <h3 style="color: white;" class="mb-0"><%=place.name%></h3>
    <% if @view == 'map' %>
      <p style="color: white; font-size: 0.9rem" class="mb-0"><%=Place.categories.invert[place.category]%></p>
    <% end %>
  </div>
</a>