<div class="row">
  <div class="order-lg-2 col-lg-6 mb-3">
    <div id="map">
      <iframe class="mb-3" src="https://dandelion.earth/map?u=stephenreid321&map_only=true&minimal=1" style="border:0; width: 100%; height: 500px"></iframe>
    </div>
  </div>
  <div class="order-lg-1 col-lg-6">
    <iframe class="mb-3" src="https://dandelion.earth/map?u=stephenreid321&blocks_only=true&minimal=1" style="border:0; width: 100%; height: 500px"></iframe>
  </div>
</div>
