<div class="row no-gutters">
  <% PodcastAppearance.all.shuffle.each_with_index { |podcast_appearance,i| %>
    <div class="col-sm-4 mb-3">
      <div class="<% if i % 3 == 1 %> mx-sm-3 <% end %> ">
        <%= partial :podcast_appearance, :object => podcast_appearance %>
      </div>
    </div>
  <% } %>
</div>
