<ul>
  <li>Oct 2018: <a target="_blank" href="https://anchor.fm/alterego/episodes/Stephen-Reid-joins-as-a-co-director-of-Alter-Ego-e2b42o">Alter Ego</a></li>
  <li>Jul 2018: <a target="_blank" href="https://www.stitcher.com/podcast/emerge/e/55551580">Emerge</a></li>
</ul>