<h2 class="mt-5 mb-5" id="products">Recommended supplements & soaps</h2>

<%= partial :products, :locals => {:products => Product.all(filter: "OR({Category} = 'Supplement', {Category} = 'Soap')", sort: {'Order' => 'asc'})} %>

<h2 class="mt-5 mb-5" id="products">Recommended vaporizers</h2>

<%= partial :products, :locals => {:products => Product.all(filter: "{Category} = 'Vaporizer'", sort: {'Order' => 'asc'})} %>