<% SOFTWARES.select { |p| p[:profile_url] }.sort_by { |p| p[:order].to_i }.each { |platform| %>
<div class="col-auto">
  <a style="text-decoration:none" data-toggle="tooltip" title="<%= platform[:profile_url].starts_with?('http') ? platform[:profile_url].split('/').last : platform[:profile_url] %>" target="_blank" href="<%= platform[:profile_url] %>">
    <%= platform[:name] %>
  </a>
</div>
<% } %>
