
<h2 class="mt-5">Training and teachers</h2>

<h3>Physics</h3>
<ul>
  <li>MPhys in Physics from the University of Oxford (2004-2008)
    <ul>
      <li>Main tutor <a href="https://www.wadham.ox.ac.uk/people/emeritus-fellows/s/candadi-sukumar">Candadi Sukumar</a></li>
      <li>Final year specialisations in quantum field theory and condensed matter physics</li>
      <li>Dissertation on community detection in complex networks supervised by <a href="https://en.wikipedia.org/wiki/Mason_Porter">Mason Porter</a></li>
    </ul>
  </li>
</ul>

<h3>Complexity science</h3>
<ul>
  <li>MRes in Complexity Science at the <a href="http://www.bristol.ac.uk/bccs/">Bristol Centre for Complexity Sciences</a>, University of Bristol (2008-2009)
    <ul>
      <li>Research projects on automated trading agents in financial markets and synthetic biology</li>
      <li>Lead developer of the software that won Best Model at the <a href="https://igem.org/Results?year=2009">iGEM 2009</a> competition</li>
    </ul>
  </li>
</ul>

<h3>Holistic science</h3>
<ul> 
  <li><a href="https://ccc19.org/">Climate Change and Consciousness Conference</a> at <a href="https://www.findhorn.org/">Findhorn</a> with <a href="https://charleseisenstein.org">Charles Eisenstein</a> (Apr 2019)</li>  
  <li>Erotic Ecology short course at <a href="https://schumachercollege.org.uk">Schumacher College</a> with <a href="https://en.wikipedia.org/wiki/Andreas_Weber_(writer)">Andreas Weber</a> (Mar 2018)</li>
  <li><a href="http://scienceandnonduality.com">Science and Nonduality Conference</a>, California (Oct 2015)</li>    
</ul>

<h3>Meditation</h3>
<ul>
  <li>Vipassana at <a href="https://www.dipa.dhamma.org/">Dhamma Dipa</a> (Feb 2017)</li>
  <li>Sensory Awareness at the <a href="https://www.esalen.org/">Esalen Institute</a> with <a href="http://www.returntooursenses.com/">Lee Lesser</a> (Nov 2015)</li>  
</ul>

<h3>Entheogens and plant medicines</h3>
<ul>
  <li>Noya Rao & Ayahausca dieta near Pucallpa, Peru with <a href="https://noyanete.com/">Manuela Mahua</a> (Dec 2017)</li>
  <li>Music retreat with <a href="https://rainerscheurenbrand.bandcamp.com/">Rainer Scheurenbrand</a> (Mar 2018)</li>
  <li>Peyote ceremony with Marakame Don Ramiro of the Wixarika (Aug 2017)</li>  
  <li>Tobacco ceremony with <a href="https://www.eaglecondorcouncil.org/">Jeff Firewalker</a> and Jyoti (Mar 2018)</li>
  <li>High-dose <em>Bufo</em> ceremony (May 2015)</li>
</ul>

<h3>Tantra and sacred sexuality</h3>
<ul>
  <li><a href="https://www.schooloftemplearts.org/">ISTA 1</a> with <a href="https://www.thetantricshaman.com/">Elaine Young</a>, <a href="https://lovemovementevolution.com/">Binoy Milton D'souza</a> & <a href="https://frankmondeose.com/">Frank Mondeose</a> (Sep 2019)</li>
  <li>The Tantric Opening at <a href="https://www.inanitah.com/">Inanitah</a> with <a href="https://gaiagasm.com/">Gaia Ma</a> (Nov 2017)</li>  
  <li><a href="http://angsbacka.se">Ängsbacka Tantra Festival</a> (2018)</li>
</ul>

<h3>Politics and activism</h3>
<ul>
  <li><a href="https://en.wikipedia.org/wiki/Andrew_Simms">Andrew Simms</a> whilst working at the <a href="https://neweconomics.org/">New Economics Foundation</a></li>
  <li><a href="https://www.carolinelucas.com/">Caroline Lucas</a> whilst working in her parliamentary office</li>
  <li><a href="https://en.wikipedia.org/wiki/John_Sauven">John Sauven</a> whilst serving on the board of <a href="https://www.greenpeace.org.uk/">Greenpeace UK</a></li>
</ul>

<h3>Co-creation</h3>
<ul>
  <li><a href="http://goingnowhere.org">Nowhere</a> (2014, 2015, 2016)</li>
  <li><a href="http://theborderland.se">The Borderland</a> (2016, 2017, 2019)</li>
  <li><a href="https://kiezburn.org/">Kiez Burn</a> (2019)</li>
</ul>

<h3>Other</h3>
<ul>
  <li>Mushroom cultivation at <a href="http://fungiacademy.com/">Fungi Academy</a> (Jan 2018)</li>
  <li>Awakening of Love by <a href="http://pathretreats.com">Path Retreats</a> (Mar 2017)</li>  
</ul>