<div class="row justify-content-center align-items-center">
  <div class="col-lg-8" style="font-size: 110%">
    <p class="text-contrast">
      Hi, I'm Stephen.
    </p>

    <p>
      <%= md :tagline %>
    </p>

    <div class="mb-3">
      <p class="text-contrast mb-3">
        Join 3000+ others receiving my regular newsletter:
      </p>
      <a target="_blank" class="btn btn-primary" href="https://stephenreid.substack.com/">Subscribe on Substack</a>
    </div>

  </div>
  <div class="col-lg-4">

    <div style="position: relative;">
      <img class="d-block w-100" src="/images/me-coast.jpg" style="box-shadow: 0 0 1.5vw black"/>
    </div>

  </div>
</div>

<div class="row mt-5 justify-content-center">
  <div class="col-lg-9">
    <p class="text-contrast text-center">
      Short bio in the third person
    </p>
    <div>
      <%= md :bio %>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-lg-9">
    <p class="text-contrast text-center">
      What I'm reading and listening to
    </p>
    <% p = 0; @posts.first(10).each { |post|
    json = JSON.parse(post['Iframely'])
    next unless json['links']
    next unless json['links']['thumbnail']
    next unless json['meta']['description'] && json['meta']['description'].length > 20
    %>
    <%= partial :recent_post, locals: {post: post, json: json, p: p} %>
    <% p += 1; break if p == 3 } %>
    <p class="mt-3 text-center">
      <a href="/knowledgegraph">View knowledgegraph &rarr;</a>
    </p>
  </div>
</div>


<p class="mt-5 text-contrast text-center">
  Recent speaking engagements
</p>
<dl class="row">
  <% SpeakingEngagement.all(filter: '{Hidden} = 0', sort: { 'Date' => 'desc' }).first(5).each { |speaking_engagement| %>
  <%= partial :speaking_engagement, object: speaking_engagement %>
  <% } %>
</dl>

<p class="text-center">
  <a href="/speaking-engagements">View all speaking engagements &rarr;</a>
</p>


<iframe class="mt-5" src="https://www.google.com/maps/d/u/0/embed?mid=1QWAa8AYdFShGu6AgvK0ePUkgogGFEl8&ehbc=2E312F" style="height: 400px; width: 100%; border: 0;"></iframe>
