<div class="row justify-content-center align-items-center">
  <div class="col-lg-9">

    <h1>
      AI is changing the world.
    </h1>

    <h2 class="regular text-standard mb-3">
      I'll help you to <mark class="text-white">understand</mark> its potential and <mark class="text-white">implement</mark> it in your project.
    </h2>

  </div>
  <div class="col-lg-3 col-6">

    <img src="/images/me-cr-1.jpg" class="w-100 rounded-circle">

  </div>
</div>


<div class="row justify-content-center mt-3">
  <div class="col-lg-9">
    <%= md :ai_consultancy %>
    <div class="text-center">
      <a class="mb-3 btn btn-primary" target="_blank" href="mailto:stephen@stephenreid.net">Get in touch</a>
    </div>

    <div class="text-center my-3">
      <img class="w-50" src="/images/berkeley.png">
      <p style="text-transform: uppercase; font-size: 85%; letter-spacing: 2px;" class="text-white">
        Professional Certificate in Machine Learning and Artificial Intelligence
      </p>
    </div>


  </div>
</div>
