<div class="row justify-content-center align-items-center">
  <div class="col-lg-9">

    <h1>
      AI is changing the world.
    </h1>

    <h2 class="regular text-standard mb-3">
      I'll help you to <mark class="text-white">understand</mark> its potential and <mark class="text-white">implement</mark> it in your organisation.
    </h2>

  </div>
  <div class="col-lg-3 col-6">

    <img src="/images/midjourney/1.jpeg" class="w-100 rounded-circle">

  </div>
</div>

<div class="my-5">
  <p class="text-center">I've previously delivered talks and trainings for:</p>
  <div class="row align-items-center justify-content-center">
    <% Organisation.all(filter: "{Client} = 1", sort: { 'Client order' => 'asc' }).each { |organisation| %>
    <div class="col-lg-2 col-6">
      <img class="w-100 px-3 py-3 py-lg-0" src="<%= organisation['Logo'].first['url'] %>" />
    </div>
    <% } %>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-lg-9">
    <%= md :ai_consulting %>
    <div class="text-center">
      <a class="mb-3 btn btn-primary" target="_blank" href="mailto:stephen@stephenreid.net">Get in touch</a>
    </div>

    <div class="text-center my-3">
      <img class="w-50" src="/images/berkeley.png">
      <p style="text-transform: uppercase; font-size: 85%; letter-spacing: 2px;" class="text-white">
        Professional Certificate in Machine Learning and Artificial Intelligence
      </p>
    </div>


  </div>
</div>
