
<a target="_blank" href="https://www.are.na/stephen-reid/art-1523863599"><i class="fa fas fa-external-link-alt"></i> Channel on Are.na</a>

<script>
  $(function () {
    $.getJSON('https://api.are.na/v2/channels/art-1523863599', function (data) {
      $.each(data.contents, function (i, block) {
        console.log(block)
        $.get('/art-block', {title: block.title, link: block.class == 'Link' ? block.source.url : 'http://are.na/block/' + block.id, image_url: block.image.display.url}, function (data) {
          $('#blocks').append('<div class="mb-3">' + data + '</div>')
        })
      })
    })
  })
</script>
<div class="mt-3" id="blocks">
</div>