
<div class="row justify-content-center">
  <div class="col-sm-8">
    <%= partial :blog_post, :object => @blog_post %>
    <div class="fb-comments" data-href="https://stephenreid.net/blog/<%=@blog_post['Slug']%>" data-width="100%" data-numposts="5"></div>
  </div>
</div>

