<p class="lead">
  Books I've read,
  last updated <%= time_ago_in_words Time.parse(Book.all(sort: { 'Created' => 'desc'}).first['Created']) %> ago
</p>

<div class="row">
  <% Book.all(sort: { 'Date Read' => 'desc' }, filter: "{Date Read} != ''").each { |book| %>
  <div class="col-6 col-lg-2 mb-3">
    <%= partial :book, locals: { book: book } %>
  </div>
  <% } %>
</div>


<div class="row justify-content-center mt-5">
  <div class="col-auto">
    <p class="lead">If you only read one thing...</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10 col-lg-4">
    <a target="_blank" href="/tao-te-ching"><img class="w-100" src="/images/tao.jpg"></a>
    <p class="mt-3">
      Eyes look but cannot see it<br>
      Ears listen but cannot hear it<br>
      Hands grasp but cannot touch it<br>
      Beyond the senses lies this great Unity–<br>
      <span style="margin-left: 1rem">invisible, inaudible, intangible</span>
    </p>
  </div>
</div>
