<div class="row justify-content-center mb-3">
  <div class="col-lg-9">
    <h1 class="text-center">
      <div class="d-inline d-lg-block">What do you really want,</div>
      <div class="d-inline d-lg-block">and how can you move towards it?</div>
    </h1>
  </div>
</div>


<div class="row justify-content-center mb-3">
  <div class="col-6 col-lg-3">
    <img src="/images/me-cr-1.jpg" class="w-100 rounded-circle">
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-9">
    <%= md :coaching %>
    <div class="text-center">
      <a class="mb-3 btn btn-primary" target="_blank" href="https://airtable.com/shrrRwZAP0igotuRv">Express your interest</a>
      <p>
        <em>
          I follow the ICF's <a href="https://coachingfederation.org/ethics/code-of-ethics">Code of Ethics</a>.
        </em>
      </p>
    </div>

    <div class="text-center">
      <img class="w-50 my-3" src="/images/coaching.png">
    </div>

    <h3>Testimonials</h3>
    <div class="row mb-3">
      <div class="col-auto"><i class="fa fa-quote-left"></i></div>
      <div class="col">
        <p class="lead mb-0">
          Working with Stephen was something else. He held space for me to tap into a truly authentic and deeply honest version of myself, and guided me through a journey that really helped me understand my values and how to use them to make challenging life decisions at a key inflection point in my life. I felt so "seen" by Stephen whenever we spoke: he both allowed me to be my complete self whilst also challenging me on some of the stories I was telling myself. I'd highly recommend Stephen as a coach and truly think he's one of the best people to have by your side through the ups the downs of life.
        </p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-auto"><i class="fa fa-quote-left"></i></div>
      <div class="col">
        <p class="lead mb-0">
          I am not the kind of person who ever thought I needed a coach. I am super productive and good at making decisions but working with Stephen for a few months was transformative. Stephen has a magical ability to hold a safe space, ask the right questions and challenge. Working with him I reevaluated some of my limiting beliefs on scaling my business which has meant that this year business is booming! But he is also more than a business coach - he looks at the whole person. In our time together we dived into money, relationships and other areas of my life where I felt stuck. I would highly recommend working with Stephen. It might just change your life.
        </p>
      </div>
    </div>


  </div>
</div>
