<div class="row justify-content-center mb-3">
  <div class="col-md-9">
    <h1 class="text-center">
      <div class="d-inline d-sm-block">What do you really want,</div>
      <div class="d-inline d-sm-block">and how can you move towards it?</div>
    </h1>
  </div>
</div>


<div class="row justify-content-center mb-3">
  <div class="col-6 col-sm-4 col-md-3">
    <img src="/images/me-cr-1.jpg" class="w-100 rounded-circle">
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-9">
    <%= md :coaching %>
    <div class="text-center">
      <a class="mb-3 btn btn-primary" target="_blank" href="https://airtable.com/shrrRwZAP0igotuRv">Express your interest</a>
      <p>
        <em>I follow the ICF's <a href="https://coachingfederation.org/app/uploads/2021/01/ICF-Code-of-Ethics-1.pdf">Code of Ethics</a>.</em>
      </p>
    </div>
  </div>
</div>
