<ul>  
  <li>Plant-based vegetarian<br></li>
  <li>Low dairy<br><ul>
      <li>Cheese → <a href=""http://www.onegreenplanet.org/vegan-food/how-to-add-umami-flavor-to-vegan-dishes/"" target=""_blank"">Vegan umami flavours</a><br></li>
      <li>Milk/yoghurt → Soy/rice/nut/coconut alternatives<br></li>
      <li>Butter → Oil<br></li>
    </ul>
  </li>  
  <li>Few eggs</li>
  <li>Low sugar, complex over simple carbs</li>
  <li>Top snack: mixed nuts</li>
  <li>Fast from time to time</li>
  <li>Drink plenty of water & tea, some fresh juice</li>
  <li>Coffee and alcohol only on special occasions</li>
  <li>Medicinal foods: turmeric + black pepper, mushroom extract, lemon, ginger, garlic, green tea, cayenne</li>
  <li>Living foods: probiotic yoghurt, kombucha</li>
  <li>Digital health<br><ul>
      <li>No smartphone in bedroom</li>
      <li>Notifications off for most apps</li>
    </ul>
  </li>
</ul>

<h2 class="mt-5" id="products">Habits</h2>
<p class="my-3"><a href="https://autopia.co/u/stephenreid321">Check out my Autopia profile</a></p>

<iframe class="mb-3" src="https://autopia.co/u/stephenreid321/habits" style="border:0; width: 100%; height: 500px"></iframe>

<h2 class="mt-5 mb-5" id="products">Recommended supplements & soaps</h2>

<%= partial :products, :locals => {:products => Product.all(filter: "OR({Category} = 'Supplement', {Category} = 'Soap')", sort: {'Order' => 'asc'})} %>