<style>
  textarea { height: 20em }
</style>
<script>
  $(function () {
    $('textarea').keyup(function () {
      var a = $('#a').val().split("\n")
      var b = $('#b').val().split("\n")
      var intersection = a.filter(x => b.includes(x));
      $('#i').html(intersection.join('<br />'))
      var aNotB = a.filter(x => !b.includes(x));
      $('#aNotB').html(aNotB.join('<br />'))
      var bNotA = b.filter(x => !a.includes(x));
      $('#bNotA').html(bNotA.join('<br />'))
    })
  })
</script>
<div class="row mb-3">
  <div class="col-6">
    <h2>A</h2>
    <%= text_area_tag :a, id: 'a', class: 'form-control' %>
  </div>
  <div class="col-6">
    <h2>B</h2>
    <%= text_area_tag :b, id: 'b', class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <h2>A not B</h2>
    <div id="aNotB"></div>
  </div>
  <div class="col-4">
    <h2>B not A</h2>
    <div id="bNotA"></div>
  </div>
  <div class="col-4">
    <h2>Intersection</h2>
    <div id="i"></div>
  </div>
</div>
