<div class="row">
  <% DiscordServer.all(sort: {'ID': 'asc'}).each { |discord_server| %>
    <div class="col-4 col-sm-3 col-md-2 mb-4">
      <%= partial :discord_server, locals: { discord_server: discord_server } %>
    </div>
  <% } %>
</div>
