<p class="lead">
  Last updated <%= time_ago_in_words Time.parse(DiscordServer.all(sort: { 'Updated at' => 'desc'}).first['Updated at']) %> ago
</p>

<div class="row">
  <% DiscordServer.all(sort: {'ID': 'asc'}).each { |discord_server| %>
  <div class="col-4 col-lg-2 mb-4">
    <%= partial :discord_server, locals: { discord_server: discord_server } %>
  </div>
  <% } %>
</div>
