
<p class="lead">
  Thank you for considering making a donation. Inspired by <a target="_blank" href="https://charleseisenstein.org/donate/">Charles Eisenstein</a>,
  I offer my work on this site as a gift, and I rely on voluntary financial support to keep it going.
</p>

<dl class="row">
  <dt class="col-sm-2">Patreon</dt>
  <dd class="col-sm-10">
    <a href="https://www.patreon.com/stephenreid">patreon.com/stephenreid</a>       
  </dd>
  <dt class="col-sm-2">PayPal</dt>
  <dd class="col-sm-10">
    <a href="https://www.paypal.me/stephenreid321">paypal.me/stephenreid321</a>
  </dd>    
  <% Crypto.all(sort: { "Order" => "asc" }).each { |crypto|
  %>
    <dt class="col-sm-2"><%=crypto['Name']%></dt>
    <dd class="col-sm-10"><small><%=crypto['Address']%></small></dd>
      <% } %>
</dl>