<div class="row justify-content-center align-items-center">
  <div class="col-lg-9">

    <h1 style="font-size: 2.1rem">
      Even the best teams need help sometimes.
    </h1>

    <h2 class="regular text-standard mb-3" style="font-size: 1.55rem">
      I'll work with you to
      <mark class="text-white">discover what's really important</mark>
      and 
      <mark class="text-white">plan a way forward</mark>.
    </h2>

  </div>
  <div class="col-lg-3 col-6">

    <img src="/images/me-cr-2.jpg" class="w-100 rounded-circle">

  </div>
</div>


<div class="row justify-content-center mt-3">
  <div class="col-lg-9">
    <%= md :facilitation %>
    <div class="text-center">
      <a class="mb-3 btn btn-primary" target="_blank" href="mailto:stephen@stephenreid.net">Get in touch</a>
    </div>
  </div>
</div>
