<div class="row justify-content-center align-items-center">
  <div class="col-lg-9">

    <h1 style="font-size: 2.1rem">
      Even the best teams need help sometimes.
    </h1>

    <h2 class="regular text-standard mb-3" style="font-size: 1.55rem">
      I'll work with you to
      <mark class="text-white">discover what's really important</mark>
      and 
      <mark class="text-white">plan a way forward</mark>.
    </h2>

  </div>
  <div class="col-lg-3 col-6">

    <img src="/images/midjourney/3.jpeg" class="w-100 rounded-circle">

  </div>
</div>

<div class="my-5">
  <p class="text-center">I've acted as a facilitator and advisor for organisations including:</p>
  <div class="row align-items-center justify-content-center">
    <% Organisation.all(filter: "{Facilitator} = 1", sort: { 'Facilitator order' => 'asc' }).each { |organisation| %>
    <div class="col-lg-2 col-4">
      <img class="w-100 px-3" src="<%= organisation['Logo'].first['url'] %>" />
    </div>
    <% } %>
  </div>
</div>


<div class="row justify-content-center mt-3">
  <div class="col-lg-9">
    <%= md :facilitation %>
    <div class="text-center">
      <a class="mb-3 btn btn-primary" target="_blank" href="mailto:stephen@stephenreid.net">Get in touch</a>
    </div>
  </div>
</div>
