<% orgs = %Q{42 ACRES
https://www.facebook.com/42acres/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/15181612_1801580056725304_2113819297151952594_n.png?_nc_cat=0&oh=12ef181ddbb92e2323980ec2f48a3dbb&oe=5C29A733
Acid Corbynism
https://www.facebook.com/acidcorbynism/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/28059465_2086181004928435_4505539869736254382_n.jpg?_nc_cat=0&oh=bc9d05ba2d5c9734fe103fe478fcb946&oe=5C2C4AB5
Afterglow
https://www.facebook.com/4fterglow/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c28.0.100.100/p100x100/14370279_872697762863506_2686098484544798193_n.jpg?_nc_cat=0&oh=18fe5f8eb274b3260fb66328b35b602a&oe=5C2DB6DC
Aho
https://www.facebook.com/aho.community/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/30221520_433286077114535_8742391590112198656_n.jpg?_nc_cat=0&oh=857e4e67e82a2ce8e0c4310b0f0b4434&oe=5C38CF40
Alan Watts Wisdom
https://www.facebook.com/AlanWattsWisdom/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c0.15.100.100/p100x100/1374945_637578592953749_1504968820_n.jpg?_nc_cat=0&oh=089466471c2136fac83f3aebd4cc5588&oe=5C377DB7
Alana Bloom
https://www.facebook.com/TintedBloom/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/40395141_1826744154074436_821918356608122880_n.jpg?_nc_cat=0&oh=f0a0fd5ec4728c2e63abad60d26ff0da&oe=5BFA9559
Alter Ego
https://www.facebook.com/AlterEgoNetwork/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/29694443_163253617723118_6014373808351466630_n.jpg?_nc_cat=0&oh=4371b77cabd5c4ec0c07ebd841fa3d49&oe=5C0118BD
Altered
https://www.facebook.com/alteredconference/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/20375854_1137130763054461_2144789206384464952_n.png?_nc_cat=0&oh=60d7b0acb87adfeb11049290de08250e&oe=5C00537D
Asana
https://www.facebook.com/asana/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/12079640_10153206111475669_1961712775155795950_n.png?_nc_cat=1&oh=458ab30c2052db3e5a704a08d4e79568&oe=5C38AF2C
Aubrey Marcus
https://www.facebook.com/AubreyMarcus/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/26195607_1859698180718071_2234995451537865272_n.png?_nc_cat=0&oh=a8e231839ddfff69f04ac50965a621df&oe=5C31B2C7
Autopo
https://www.facebook.com/autopo.co/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/37204449_289755368435249_3092253393717035008_n.png?_nc_cat=0&oh=992df71894908307b0f0cc9441da1549&oe=5C2E7078
Beauty & the Beat
https://www.facebook.com/igotalittlelove/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c138.40.502.502/s100x100/314185_458107087546202_1605729364_n.jpg?_nc_cat=0&oh=fe1d47b9e91ec3bb4ca453c150641f06&oe=5BF0146D
Beloved Festival
https://www.facebook.com/BelovedPresents/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/28870220_10155343449203388_7855050135577821184_n.png?_nc_cat=0&oh=0b9721611d787de87a8c00279842adf9&oe=5BF77185
Black Cat
https://www.facebook.com/blackcathackney/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/10955636_1131006593591934_789932270018755479_n.jpg?_nc_cat=0&oh=3b16d4cffbe7be659c506b2693130079&oe=5BFE4BAB
Boom Festival Official
https://www.facebook.com/boomfestivalofficialpage/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c1.0.100.100/p100x100/23622331_1710814022304712_3065066649238719213_n.jpg?_nc_cat=1&oh=b59fc166fcac8d240ce01b7e5ecf1002&oe=5BF6AA35
Brighton Bohemians
https://www.facebook.com/brightonbohemians/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/33891735_2032886416980401_3866527274383704064_n.jpg?_nc_cat=0&oh=94966dc7e916ff7ebd15644f170b3036&oe=5BEDB6B2
Buddhafield
https://www.facebook.com/buddhafield.festival/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c3.0.100.100/p100x100/485293_10152564432005597_1571645989_n.jpg?_nc_cat=0&oh=7081660ed73a4d318990145ebfb74128&oe=5C2B79F0
Buddhist Geeks
https://www.facebook.com/buddhistgeeks/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/19905032_1572875482725549_2347486631426963269_n.jpg?_nc_cat=0&oh=fc68bf7964ed9c02853dd750407b9355&oe=5BF971DF
Charles Eisenstein
https://www.facebook.com/Charles-Eisenstein-220033021382110/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c0.26.100.100/p100x100/1979882_703953586323382_113136426_n.jpg?_nc_cat=0&oh=830e23ee67b9e186c7a9379455ffba62&oe=5BF68B49
Cosmic Convergence Festival
https://www.facebook.com/cosmicconvergence/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/31649351_1159439820865304_72175263256936448_n.jpg?_nc_cat=0&oh=4efcffe44d91ba260eab1deaa8d2b739&oe=5BEE1552
Crypto Radio
https://www.facebook.com/Crypto-Radio-708435749345926/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/25353722_708436146012553_5778880029183443151_n.jpg?_nc_cat=0&oh=1a4a6211c4274726a20b19b421e199ea&oe=5C34904F
CryptoPsychedelic
https://www.facebook.com/cryptopsychedelic/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/25594330_582388842153218_4644050751217455356_n.png?_nc_cat=0&oh=9321933522d314cfdba71809a371be1e&oe=5BF48873
Dalston Eastern Curve Garden
https://www.facebook.com/curvegarden/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/22853352_1418813511520616_7272986301308737256_n.jpg?_nc_cat=0&oh=0948515627d66cd75631c25da0579172&oe=5C30E806
Daniel Jeffries
https://www.facebook.com/author.daniel.jeffries/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/20637833_1630864790279493_8198264096097377171_n.jpg?_nc_cat=0&oh=620d4e259da4493c0b5e346acd26a8c9&oe=5C00DDC3
DecentraNet
https://www.facebook.com/DecentraNet/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/20264545_266888740479168_8760611350228756498_n.png?_nc_cat=0&oh=e367e3862d131f7cb78f0ac5fbe448c2&oe=5C326C66
Deep Magic
https://www.facebook.com/deepmagicbeginshere/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c17.0.100.100/p100x100/14570426_271413193254467_925664530377944234_n.jpg?_nc_cat=0&oh=b0224dad0382027b85d342d137614b03&oe=5C2EDBBF
Ecodharma
https://www.facebook.com/ecodharma.centre/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/24899898_1686911151383811_4845136848244073221_n.jpg?_nc_cat=0&oh=a94ca62cbc715bb9db7ecc2a49b90229&oe=5BFE13BF
Edgeryders
https://www.facebook.com/Edgeryders/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/10501604_1244242952272053_8690413150182600474_n.png?_nc_cat=0&oh=b5e86b869d7d128ff3b5671670879065&oe=5C2A12B0
Emerge
https://www.facebook.com/emerge.is/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/26166235_1977440109137429_1908449641626149103_n.png?_nc_cat=0&oh=6790fda225b71dfbe97e6ca0b445f874&oe=5C3B5D76
Enspiral
https://www.facebook.com/Enspiral/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c3.0.100.100/p100x100/376966_443192395711848_179489393_n.jpg?_nc_cat=0&oh=bee1ed5d89c30ee5b9fd297268377139&oe=5BFB0EED
Envision Festival
https://www.facebook.com/EnvisionFestival/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/39408938_1983848071665690_7887198236371320832_n.jpg?_nc_cat=0&oh=3fe29cdfa194214311def455b17fc6b4&oe=5C3A9AE8
Festival 23: Propagation of Wonder
https://www.facebook.com/festival23/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/30710695_1635532223233149_2634356987441184768_n.jpg?_nc_cat=0&oh=5604b39ff9a7bd778ba0427c77de8dd1&oe=5C2DEDE0
Flow Genome Project
https://www.facebook.com/Flowgenome/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c4.0.100.100/p100x100/165493_531606346882390_177926830_n.jpg?_nc_cat=0&oh=79bf021e37cd618e340d501909ebf9dd&oe=5BF9F4C4
Fold Yoga London
https://www.facebook.com/foldyogalondon/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/13537635_1726920187578661_8771265197828024524_n.jpg?_nc_cat=0&oh=648c2a5b115670c95e1204a44dfc52c0&oe=5C2FB242
Fundamental
https://www.facebook.com/fundamentalnyc/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/20431735_500452856970351_8927138463325240450_n.jpg?_nc_cat=0&oh=7575ae4546f9727ae145da407b1b7869&oe=5BECFD9F
Future Thinkers
https://www.facebook.com/wearefuturethinkers/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/12170_211482245725569_1500754972_n.jpg?_nc_cat=0&oh=f281acdc48acee13ff983cc5a599af66&oe=5C3B5C3B
Greenhouse London
https://www.facebook.com/GreenhouseN16/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/13614950_1758742517704295_1783946357713868637_n.jpg?_nc_cat=0&oh=80d577f53c5af5049bd465d40eae3de9&oe=5C3BB790
Hacker Noon
https://www.facebook.com/hackernoon/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/13620295_1888420998051706_28728000960007606_n.jpg?_nc_cat=0&oh=d317655ae5ee3704a0c70c922a573538&oe=5BFF6B51
Hempen
https://www.facebook.com/hempenorganic/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/18485790_820113168143658_1493964569134211361_n.jpg?_nc_cat=0&oh=81ad52020cda4a9fd5e66ee03e39c32a&oe=5BF0D2BD
Holochain
https://www.facebook.com/holochain.design/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/23380294_883141675169621_5651637796574470011_n.png?_nc_cat=0&oh=eedf820c6065e33e0afd9706e57d2ab4&oe=5C2B9228
I fucking love Chaos Magick
https://www.facebook.com/lovechaosmagick/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/21077817_1941242536161736_6785411703828542104_n.jpg?_nc_cat=1&oh=4bb45127b3cbe4e8f91607f22fffc6d3&oe=5BFBDDDF
ISTA - International School of Temple Arts
https://www.facebook.com/schooloftemplearts/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/35358417_1620330311369788_1077300689736040448_n.jpg?_nc_cat=0&oh=81f842675191bfcb1e12b28d83ddf88b&oe=5BF7FF22
Incrypto
https://www.facebook.com/Incrypto.co/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/23559941_2067311210150559_7227004890965815777_n.png?_nc_cat=0&oh=c38d42c9bad7b5f48ac96d30cdec063c&oe=5C00800D
Inner Truth
https://www.facebook.com/innertruthmedia/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/36282356_2144388132502900_4570626706603245568_n.jpg?_nc_cat=0&oh=8adf7c9900a16b38203cf8de15f17ed1&oe=5BFA76F3
Jaguar on the Moon
https://www.facebook.com/jaguaronthemoon/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/28379203_355767198237228_4459469380899222994_n.jpg?_nc_cat=0&oh=054ae89ef8771ada5203cd368fc6b04f&oe=5BEDF7AB
LibertyCap.co
https://www.facebook.com/findlibertycap/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/38661903_453115208495793_5655774774035480576_n.png?_nc_cat=0&oh=3cdf91688d2fdcef4978700fd35f2cf2&oe=5BEFCD7D
Live Learn Evolve
https://www.facebook.com/livelearnevolve/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/23032505_1934764793207222_2873343171877560078_n.jpg?_nc_cat=0&oh=809381cb1aca9b7f1bd8cbe71e664b03&oe=5BFC379D
Liverpool International Festival Of Psychedelia
https://www.facebook.com/LiverpoolPsychFest/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/18839092_1393612744093613_8878925572779691263_n.png?_nc_cat=0&oh=c96f73bf513baf0c8ac1ada042264765&oe=5BF793A5
Magnetic Fields Festival
https://www.facebook.com/magneticfieldsfestival/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/23316284_2029987247233946_6559261372760636997_n.jpg?_nc_cat=0&oh=e5d11b8031aaddf636fd5a0b2ec3716a&oe=5BEFBB90
Mandrea Music Festival
https://www.facebook.com/MandreaMusicFestival/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/27458897_1773866599319905_5692040082820995459_n.jpg?_nc_cat=0&oh=046db092058814a68f0324abe1fccaf6&oe=5C32597C
Max Borders
https://www.facebook.com/maxbordersauthor/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/35701205_1823695627937229_1797766112016859136_n.jpg?_nc_cat=0&oh=2aa49d20e8e7a25237b39ed582241695&oe=5C3127B6
Meadows in the Mountains Festival
https://www.facebook.com/MeadowsInTheMountainsFestival/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c2.0.100.100/p100x100/1958142_603786053046802_1915264239_n.jpg?_nc_cat=0&oh=6927119eb2d890a2697654a97933afeb&oe=5C360D49
Meaning conference
https://www.facebook.com/meaningconf/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/11401106_1460198534279223_2085677627898108690_n.png?_nc_cat=0&oh=d4216a01964ed55aa30a6a857b7998cb&oe=5BF1A89B
Metamoderna
https://www.facebook.com/metamoderna/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/1455923_1513047348971055_1944341626250408731_n.png?_nc_cat=0&oh=e8acd70dbd4846d221fd9abbf04ed79c&oe=5BFF2010
Native
https://www.facebook.com/nativeprotocol/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/39032447_2074132739516642_5784081613423902720_n.png?_nc_cat=0&oh=175a71a960219639f8b9b77ac9053327&oe=5BFD06E9
Neurohacker Collective
https://www.facebook.com/neurohackercollective/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/29570852_1447968795307352_7346649216495422544_n.jpg?_nc_cat=1&oh=2f7bb9ec495711cfaa2f1e6b0883dc4f&oe=5C0002E5
Noden
https://www.facebook.com/noden.sthlm/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/12279038_122670301432818_2697528990074469459_n.jpg?_nc_cat=0&oh=f3e8f06b315e25c13b553ff4aa4a54a3&oe=5C2F7FF6
Noisily Festival of Music and Arts
https://www.facebook.com/noisilyfestival/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/23472713_1524349380952154_9007428401478303189_n.jpg?_nc_cat=1&oh=fa9a44a1c3e464ee700bb26f3b9d45e9&oe=5BEF95ED
Noyanete
https://www.facebook.com/noyanete/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/26165696_528114854232220_1505505388772722852_n.jpg?_nc_cat=0&oh=e51f933f05da4ffa9232d47e927653d0&oe=5C35E946
NuMundo
https://www.facebook.com/numundonow/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/1236133_10151540315322811_544511103_n.png?_nc_cat=0&oh=13aa8ed41f55312f93939b54e1efb2f0&oe=5BF954CE
PERSPECTIVA
https://www.facebook.com/PERSPECTIVA-141310239977134/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/24775191_141319023309589_4388335078430204471_n.png?_nc_cat=0&oh=63ba2f6c8a49443a7f40f7ea4049b0ab&oe=5C2AFB27
Paralelní Polis
https://www.facebook.com/vejdiven/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/29496746_1689595911132172_1903985515062564174_n.png?_nc_cat=0&oh=5887225143dd6a7c2b7ecc6e5c80ac6d&oe=5C2B6E5F
Pataphysical
https://www.facebook.com/pataphysicaltransmission/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/22815551_1841572772731818_1698159438880055951_n.jpg?_nc_cat=0&oh=dfe87a20c605dc49e99b7b4fd851c482&oe=5C3530FD
Percolab
https://www.facebook.com/percolab/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/12715713_1014173201960017_3079785487232315135_n.png?_nc_cat=0&oh=97a119c7edc1b813cee88556797f2880&oe=5C28D4D4
Rebel Wisdom
https://www.facebook.com/RebelWisdomUK/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/31823193_249774852257237_1038193620936556544_n.jpg?_nc_cat=0&oh=2dcddfb4c47e1061e2384d9dc895afee&oe=5C2AD6D6
Restless Future
https://www.facebook.com/restlessfuture/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c75.0.598.598/s100x100/36270656_1581092615350850_1698815537305354240_n.png?_nc_cat=0&oh=ac01a4d5d2cc16f7cbbca98adc36804d&oe=5C3ADEE1
Rupert Sheldrake
https://www.facebook.com/RupertSheldrake/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/10940472_836715443041645_5310472292724561645_n.jpg?_nc_cat=0&oh=79537361b37e16211126857389271afc&oe=5BF9CC59
Schumacher College
https://www.facebook.com/schumachercollege/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/17904500_1479627085428764_2696318808339295130_n.jpg?_nc_cat=0&oh=bec8f19a95a63799746363f92c0172bb&oe=5BF07318
Science and Nonduality Conference
https://www.facebook.com/ScienceAndNonduality/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/26994046_1800053623378010_2621942391811872921_n.jpg?_nc_cat=0&oh=517aa0add5b0f7f6e9498654b6e09f00&oe=5C314D93
Shambala Festival
https://www.facebook.com/ShambalaFestival/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/30594863_10156769982635628_7267078621813014528_n.png?_nc_cat=0&oh=99a743b036ff910299af97e58b31e2a3&oe=5BF0F81F
Social Evolution
https://www.facebook.com/SocialEvolutionOrg/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/26169883_358504891282034_9091200233242415418_n.jpg?_nc_cat=0&oh=0fd868afc3673fc04f80c96603d17659&oe=5C3558F2
Space4
https://www.facebook.com/space4coop/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/24796317_1398518926943208_5432139754551022662_n.png?_nc_cat=0&oh=22f9da6b927bd13305beecc937753948&oe=5BF22295
Syntheism
https://www.facebook.com/syntheism/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c19.19.241.241/s100x100/59950_331371090308826_1730982323_n.jpg?_nc_cat=0&oh=fa4f5188ad9844c5ac947b1f8a4fa7a7&oe=5C328230
The Alternative UK
https://www.facebook.com/AlternativeUK21/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/17022357_191469364673199_4383377381354136386_n.jpg?_nc_cat=0&oh=8116cf893fdeb620c3f4782968225abe&oe=5C2C5145
The Blog of Baphomet
https://www.facebook.com/The-Blog-of-Baphomet-353247484696574/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c30.11.134.134/s100x100/398762_353248708029785_913591073_n.jpg?_nc_cat=0&oh=ad776f4cab79a36dedcdb90b5ebf063f&oe=5C2B5563
The Hum
https://www.facebook.com/thehumteam/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/32215406_857792687759069_7730691144228536320_n.png?_nc_cat=0&oh=2e4ff2161b663e28ed25d463197b0d81&oe=5C2CE3D7
The Nest Collective
https://www.facebook.com/thenestcollective/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c0.0.100.100/p100x100/12342322_1104633559581049_2751791590645221574_n.jpg?_nc_cat=0&oh=83d6c1cbe26be1ee9f23b02d4a569921&oe=5C3A5EF5
The Palace
https://www.facebook.com/thepalacearts/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c40.0.100.100/p100x100/40243186_685694785140082_9068954991762341888_n.jpg?_nc_cat=0&oh=e8c032e40bcd67c3491e40d699e87a20&oe=5C3262D2
The Pirate Tantrics
https://www.facebook.com/piratetantra/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/18920250_1867743373477106_1055971793195482043_n.jpg?_nc_cat=0&oh=027980e7c5d3f241a2e5a5b1f00597df&oe=5C33B2C6
The Psychedelic Society
https://www.facebook.com/PsychedelicsUK/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/35646208_1464484746989050_7329769338854965248_n.png?_nc_cat=0&oh=428a0feecd92ce741f9efe4f23e1ac2b&oe=5BFFB84E
The Psychedelic Society of Bristol
https://www.facebook.com/PsychedelicsBristol/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/36534403_1367813726696413_6972906789767479296_n.png?_nc_cat=0&oh=a47a61bc6937318674d6249e88b185d3&oe=5C3A2A21
The Rules
https://www.facebook.com/therules.org/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/22366478_1443772675672497_4050148876121556353_n.png?_nc_cat=0&oh=8c33ec2c2e6e1c9c0db71c15cd0b5702&oe=5BEFFB34
Tricycle: The Buddhist Review
https://www.facebook.com/tricyclemag/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/11212780_10153285603879834_1002360366678357198_n.png?_nc_cat=0&oh=ba9d7e482b109e6b4639aa84bd42447f&oe=5C37F6FD
Ulex Project
https://www.facebook.com/ulexproject/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/16195798_706989139462682_6781834667993977388_n.jpg?_nc_cat=0&oh=60b9f79832c16062f666b992e6bc5de8&oe=5BF2F676
Upstream
https://www.facebook.com/UpstreamPodcast/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/28168001_2030946707186763_3662259680157019074_n.png?_nc_cat=0&oh=cb31cb8ae595124c15f2c04539f1ad17&oe=5BF86465
Urban Avatars
https://www.facebook.com/urbanavatars/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/17264760_759127527585669_5028695278806393133_n.jpg?_nc_cat=0&oh=dfd57f637a0a7ed49507d3620cfaa6f3&oe=5C371014
Voice & Exit
https://www.facebook.com/voiceandexit/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/14083_820366728012213_2471697801570422674_n.png?_nc_cat=0&oh=9f7ce8dec18eed459eb26b1ff23f39ac&oe=5C362908
Waha Festival
https://www.facebook.com/WahaFestival/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/27540350_1967460416617128_2744169189810744258_n.jpg?_nc_cat=0&oh=578c6a59b0ecba5b6ab7d2211c30c7bf&oe=5C39CEE7
Wandering Wild
https://www.facebook.com/wanderingwilduk/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/c17.0.100.100/p100x100/34016217_170927190247177_8153804392785510400_n.jpg?_nc_cat=0&oh=8836fb19f2c95157b5e93d0f5bd2c222&oe=5C3A60C9
Wavepaths
https://www.facebook.com/wavepaths/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/22448176_1318376161618452_8727920686475013205_n.png?_nc_cat=0&oh=49489c96c2c6cb5a2315837e40bc085e&oe=5C2FCBEB
Wildmind Buddhist Meditation
https://www.facebook.com/wildmindmeditation/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/23811_10150108859475702_2460575_n.jpg?_nc_cat=0&oh=b5ac7291782a5d4528cba59764c9bbef&oe=5C2A019F
Witch Please
https://www.facebook.com/wtchpls/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/40248472_431859857218463_7824294561965932544_n.jpg?_nc_cat=0&oh=e41851e33c13a60ddb176fb4e99361b1&oe=5C2E16E4
Woodburner
https://www.facebook.com/woodburnermusic/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/17457507_1296769980406117_3183966424028369837_n.png?_nc_cat=0&oh=151e5c25611b95da71798d404678806b&oe=5C2BCB48
Yew & I
https://www.facebook.com/yewandi/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/21615970_468884486817272_6905487853631385560_n.jpg?_nc_cat=0&oh=37d45ef897dd267a8d7d8015ad9cc007&oe=5BED2536
d10e
https://www.facebook.com/d10e.events/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/15230592_700949046737311_7159720318699938035_n.jpg?_nc_cat=0&oh=0504fec164cd691b8383d289c5a37f40&oe=5BFFCC95
Ängsbacka
https://www.facebook.com/angsbacka/
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-1/p100x100/1536502_698788446818082_1078911838_n.jpg?_nc_cat=0&oh=91635ea06292fd3b27d127e860992edf&oe=5BFDD231
}
orgs = orgs.split("\n")
# urls = orgs.each_slice(3).map { |name,url,src| url }
# urls.detect{ |e| urls.count(e) > 1 }
%>

<% orgs.each_slice(3).to_a.shuffle.each { |name,url,src| %><a target="_blank" data-toggle="tooltip" class="d-inline-block" title="<%=name%>" href="<%=url%>"><img src="<%=src%>" /></a><% } %>
