
<h2 class="mt-5">Public</h2>
<div class="row">
  <%  
  Group.all(filter: "AND(
  FIND(', key,', {Interests joined}) > 0,
  {Facebook URL} != '',
  {Images} != ''
  )", sort: {'Name' => 'asc'}).each { |group|
  %>
    <div class="col-sm-4 mb-3">
      <%= partial :group, :locals => {:group => group} %>
    </div>
  <% } %>
</div>

<h2 class="mt-5">Private</h2>
<div class="row">
  <%  
  Group.all(filter: "AND(
  FIND(', key,', {Interests joined}) > 0,
  {Facebook URL} != '',
  {Images} = ''
  )", sort: {'Name' => 'asc'}).each { |group|
  %>
    <div class="col-sm-4 mb-3">
      <%= partial :group, :locals => {:group => group} %>
    </div>
  <% } %>
</div>
