<p class="lead">
  This page lists some habits I'm cultivating/aspiring to, along with an indication of how  well I'm sticking to them.
</p>  

<ul>  
  <li>
    Morning exercises (when I wake up, before doing anything else):
    <ul>  
      <li>5x20 leg lifts</li>
      <li>5x20 push ups</li>
    </ul>
  </li>
  <li>
    Spanish:
    <ul>  
      <li><a href="https://www.ankiapp.com/">Anki</a> vocab and conjugations</li>
      <li><a href="https://www.fluencia.com/">Fluencia</a></li>
    </ul>    
  </li>  
  <li>Meditation and/or breathwork daily</li>
  <li>Yoga daily</li>      
  <li>Mindful use of Facebook. Unfollow 1 person/day</li>    
  <li>Live with the light: wake up at sunrise, sleep at sunset. At least, no screens after 10pm, lights out by 11pm</li>
  <li>Keep a dream log to encourage lucid dreaming</li>
</ul>

<p class="mb-0">Diet:</p>
<ul>  
  <li>Plant-based vegetarian (no meat)<br></li>
  <li>Low dairy<br><ul>
      <li>Cheese → <a href="http://www.onegreenplanet.org/vegan-food/how-to-add-umami-flavor-to-vegan-dishes/" target="_blank">Vegan umami flavours</a><br></li>
      <li>Milk/yoghurt → Soy/rice/nut/coconut alternatives<br></li>
      <li>Butter → Oil<br></li>
    </ul>
  </li>  
  <li>Few eggs</li>
  <li>Low sugar, complex over simple carbs</li>
  <li>Favourite breakfast: muesli (oats + nuts + seeds + fruit)</li>
  <li>Turmeric + black pepper supplement</li>
  <li>Drink plenty of water, green tea, some fresh juice<br></li>
  <li>Alcohol only with a good reason<br></li>
  <li>Coffee only with a good reason</li>
  <li>Fast from time to time</li>
</ul>

<p class="mb-0">Cleaning products:</p>
<ul>  
  <li>Soap/shampoo: <a href="https://www.drbronner.com/">Dr. Bronner's</a> (shower only when necessary)</li>
  <li>A good eco-friendly toothpaste (suggestions welcome)</li>
  <li>A good eco-friendly shave oil (suggestions welcome)</li>
</ul>