<p class="lead">
  This page lists some habits I'm cultivating/I aspire to.<br />
  For some of these,  Iuse the excellent <a href="https://play.google.com/store/apps/details?id=org.isoron.uhabits&hl=en">Loop</a> to keep track of my progress.
</p>  

<p class="mb-0">Morning exercise:</p>
<ul>  
  <li>5x20 leg lifts</li>
  <li>5x20 push ups (currently at 10-10-15-10-10)</li>
</ul>

<p class="mb-0">Spanish:</p>
<ul>  
  <li><a href="https://www.ankiapp.com/">Anki</a> vocab</li>
  <li><a href="https://www.ankiapp.com/">Anki</a> conjugations</li>
  <li><a href="https://www.fluencia.com/">Fluencia</a></li>
</ul>

<p class="mb-0">Diet:</p>
<ul>  
  <li>No meat<br></li>
  <li>Low dairy<br><ul>
      <li>Cheese → <a href="http://www.onegreenplanet.org/vegan-food/how-to-add-umami-flavor-to-vegan-dishes/" target="_blank">Vegan umami flavours</a><br></li>
      <li>Milk/yogurt → Soy/rice/nut/coconut alternatives<br></li>
      <li>Butter → Oil<br></li>
    </ul>
  </li>  
  <li>Few eggs</li>
  <li>Low sugar, complex over simple carbs</li>
  <li>Breakfast: muesli (oats + nuts + seeds + fruit)</li>
  <li>Turmeric + black pepper supplement</li>
  <li>Drink plenty of water, green tea, some fresh juice<br></li>
  <li>Alcohol only with a good reason<br></li>
  <li>Coffee only with a good reason</li>
  <li>Fast from time to time</li>
</ul>

<p class="mb-0">Cleaning products:</p>
<ul>  
  <li>Soap/shampoo: <a href="https://www.drbronner.com/">Dr. Bronner's</a> (only shower when necessary)</li>
  <li>A good eco-friendly toothpaste (suggestions welcome)</li>
  <li>A good eco-friendly shave oil (suggestions welcome)</li>
</ul>