
<div class="row justify-content-center">
  <div class="col-md-10">
    <%= md('https://www.dropbox.com/s/xmoupr80sksgyz5/intro.md?dl=1') %>           
  </div>
</div>


<div class="row justify-content-center my-5">
  <div class="col-md-6">
    <a target="_blank" href="https://dontgobacktonormal.uk"><img class="w-100" src="https://dontgobacktonormal.uk/images/header.png" /></a>
    <p class="text-center mt-2 mb-0">One of my current projects: <a target="_blank" href="https://dontgobacktonormal.uk">Don't Go Back To Normal</a></p>
  </div>
</div>


<div id="key-info" class="my-5 text-center">

  <a class="btn btn-lg btn-primary mb-1 mb-sm-0" target="_blank" href="https://stephenreid.substack.com/"><i class="fas fa-envelope-open-text"></i> Subscribe</a>
  <a class="btn btn-lg btn-primary mb-1 mb-sm-0" target="_blank" href="https://facebook.com/stephenreid.net"><i class="fab fa-facebook-square"></i> Like</a>
  <a class="btn btn-lg btn-primary mb-1 mb-sm-0" target="_blank" href="https://twitter.com/stephenreid321"><i class="fab fa-twitter"></i> Follow</a>

</div> 

<%= partial :search %>