<p>
  Stephen Reid is the founder and director of the <a href="http://psychedelicsociety.org.uk">Psychedelic Society</a>, which was the first national-level Psychedelic Society worldwide,
  and the press officer for the <a href="http://breakingconvention.co.uk">Breaking Convention Conference on Psychedelic Consciousness</a>.
  Stephen facilitates the Psychedelic Society's <a href="http://psychedelicsociety.org.uk/experience-weekends">Psychedelic Experience Weekends</a> and Psychedelic Rhythms dance sessions,
  and is a camp lead for <a href="https://www.facebook.com/cosmicpotions/">La Botica Exótica</a> at Nowhere, the European Burning Man event.
  He makes regular appearances in the UK media and has written for the <a href="http://www.theguardian.com/profile/stephen-reid">Guardian</a>, the <a href="http://www.independent.co.uk/author/stephen-reid">Independent</a> and the <a href="http://www.huffingtonpost.co.uk/stephen-reid/">Huffington Post</a>.
</p>
<p>
  Previously, he served on the board of <a href="http://www.greenpeace.org.uk">Greenpeace UK</a>,        
  and co-founded direct action movements <a href="http://www.ukuncut.org.uk">UK Uncut</a> and <a href="https://www.youtube.com/user/WeAreTheIntruders/videos">The Intruders</a> and the New Economics Foundation's <a href="http://www.neweconomyorganisers.org/">New Economy Organisers Network</a>.
  Stephen has Masters degrees in <a href="http://www2.physics.ox.ac.uk/">Physics</a> from the University of Oxford (MPhys, First Class &mdash; <a href="https://dl.dropboxusercontent.com/u/136370/reid_report_final.pdf">dissertation</a>) and <a href="http://www.bristol.ac.uk/bccs/">Complexity Sciences</a> (MRes, Distinction) from the University of Bristol.     
</p>
<p>
  An accomplished full-stack developer with particular expertise in <a href="http://ruby-lang.org/">Ruby</a>, Stephen has done freelance digital work for organisations including
  38 Degrees,
  the New Economics Foundation,
  the Labour Party,
  the Green Party,
  350.org,
  the Living Wage Foundation,
  Positive Money,
  SumOfUs,
  City Hunt,
  10:10
  and Brandalism. 
</p>
<p>
  He is the creator and lead developer of <a href="https://github.com/wordsandwriting/lumen">Lumen</a> (an open-source group discussion platform originally created for the New Economy Organisers Network) and <a href="https://github.com/wordsandwriting/campaign-kit">Campaign Kit</a>.           
</p>
<p>
  <em>Email <a href="mailto:stephen.reid.inbox@gmail.com">stephen.reid.inbox@gmail.com</a></em>
</p>