
<div class="row justify-content-center">

  <div class="col-md-auto">

    <h1 style="font-size: 2em" class="mt-3 mb-0 font-weight-bold">Stephen Reid</h1>

    <img src="/images/me-square.png" class="rounded-circle my-3" style="max-width: 200px; width: 100%" />

    <ul class="fa-ul" class="mb-3">
      <li><i class="fa fa-li fa-envelope"></i> <a target="_blank" href="mailto:stephen@stephenreid.net">stephen@stephenreid.net</a></li>              
      <li><i class="fa fa-li fa-facebook-square"></i> <a target="_blank" href="http://facebook.com/stephenreid.0">/stephenreid.0</a></li>
      <li><i class="fa fa-li fa-twitter"></i> <a target="_blank" href="http://twitter.com/stephenreid_">@stephenreid_</a></li>
      <li><i class="fa fa-li fa-github"></i> <a target="_blank" href="http://github.com/wordsandwriting">wordsandwriting</a></li>
      <li><i class="fa fa-li fa-soundcloud"></i> <a target="_blank" href="http://soundcloud.com/wordsandwriting">wordsandwriting</a></li>
      <li><i class="fa fa-li fa-medium"></i> <a target="_blank" href="https://medium.com/@stephenreid_/">@stephenreid_</a></li>      
      <li><i class="fa fa-li fa-bitcoin"></i> <a target="_blank" href="https://www.cryptocompare.com/portfolio-public/?id=204788">stephenreid</a></li>      
    </ul>

    <div class="mb-1">
      <div class="fb-follow" data-href="https://www.facebook.com/stephenreid.0" data-layout="button_count" data-size="small" data-show-faces="true"></div>
    </div>
    <div>
      <a href="https://twitter.com/stephenreid_" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true">Follow @stephenreid_</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

  </div>


  <div class="col-md">

    <p class="lead" style="margin-top: 1em">
      Stephen Reid is the founder and director of the <a href="http://psychedelicsociety.org.uk">Psychedelic Society</a>, which was the first national-level Psychedelic Society worldwide,
      and the press officer for the <a href="http://breakingconvention.co.uk">Breaking Convention Conference on Psychedelic Consciousness</a>.
      Stephen facilitates the Psychedelic Society's <a href="http://psychedelicsociety.org.uk/experience-weekends">Psychedelic Experience Weekends</a> and Psychedelic Rhythms dance sessions,
      and is a camp lead for <a href="https://www.facebook.com/cosmicpotions/">La Botica Exótica</a>, a camp at <a href="http://goingnowhere.org/">Nowhere</a> and <a href="http://theborderland.se/">The Borderland</a>.
      He has written for the <a href="http://www.theguardian.com/profile/stephen-reid">Guardian</a>, the <a href="http://www.independent.co.uk/author/stephen-reid">Independent</a> and the <a href="http://www.huffingtonpost.co.uk/stephen-reid/">Huffington Post</a>.
    </p>
    <p>
      Previously, he served on the board of <a href="http://www.greenpeace.org.uk">Greenpeace UK</a>,        
      and co-founded
      the New Economics Foundation's <a href="http://www.neweconomyorganisers.org/">New Economy Organisers Network</a>
      and direct action movements <a href="http://facebook.com/ukuncut">UK Uncut</a> and <a href="https://www.youtube.com/user/WeAreTheIntruders/videos">The Intruders</a>.
      Stephen has Masters degrees in <a href="http://www2.physics.ox.ac.uk/">Physics</a> from the University of Oxford (MPhys, First Class &mdash; <a href="/reid_report_final.pdf">dissertation</a>) and <a href="http://www.bristol.ac.uk/bccs/">Complexity Sciences</a> (MRes, Distinction) from the University of Bristol.     
    </p>
    <p>
      An accomplished full-stack developer with particular expertise in <a href="http://ruby-lang.org/">Ruby</a>, Stephen has completed freelance digital work for organisations including
      38 Degrees,
      the New Economics Foundation,
      the Labour Party,
      the Green Party,
      350.org,
      the Living Wage Foundation,
      Positive Money,
      SumOfUs,
      City Hunt,
      10:10
      and Brandalism. 
      He is the creator of several <a href="https://github.com/wordsandwriting">open source projects</a> including <a href="https://huddl.tech">Huddl</a>,
      a tool for organising co-created gatherings.
    </p>

    <% Place.categories.each { |k,v| %>    
      <h2><%=k%></h2>

      <script>
        $(function () {
          $('.place').hover(function () {
            $('.bgo', this).hide()
          }, function () {
            $('.bgo', this).show()
          })
        })
      </script>
      <div class="row no-gutters">
        <% Place.where(category: v).each { |place| %>     
          <div class="col-md-4 mb-3">
            <div class="mr-md-3">
              <a href="<%=place.website%>" class="place" style="position: relative; display: block; height: 200px; background-position: center; background-size: cover; background-image: url('<%=place.image.url%>')">
                <div class="bgo" style="background: black; opacity: 0.4; height: 100%"></div>
                <h3 style="position: absolute; bottom: 0; left: 10px; color: white">
                  <%=place.name%>
                </h3>
              </a>
            </div>
          </div>
        <% } %>
      </div>

    <% } %>

  </div>

</div>