<style>
  h2, h3, h4 { margin-top: 0.5em }
  h2 { border-bottom: none !important }
  p.c19, p.c28 { margin-top: 1em }
  p.c19 + p.c15 {
    margin-top: -1em;
  }
  p.c15, p.c16 { margin-bottom: 0 }
  p.c15 { margin-left: 1em }
  p.c16 { margin-left: 2em }
</style>

<div class="p-3 px-5">
  <%= 
f = ''

authenticator = DropboxApi::Authenticator.new(ENV['DROPBOX_APP_KEY'], ENV['DROPBOX_APP_SECRET'])
token_hash = JSON.parse(Stash.find_by(key: 'dropbox_token_hash').value)
access_token = OAuth2::AccessToken.from_hash(authenticator, token_hash)
dropbox = DropboxApi::Client.new(
  access_token: access_token,
  on_token_refreshed: lambda { |new_token_hash|
    Stash.find_by(key: 'dropbox_token_hash').update_attribute(:value, new_token_hash.to_json)
  }
)

dropbox.download '/LifeasPractice.html' do |chunk|
  f = "#{f}#{chunk}"
end  
doc = Nokogiri::HTML(f)
doc = doc.search('body')
3.times do; doc.search('p')[0].remove; end
1.upto(5).each do |i|; doc.search('p')[i]['style'] = 'margin-bottom: 0; font-style: italic'; end
doc.search('p')[6]['style'] = 'font-style: italic;'
doc.search('a[id^=cmnt_ref]').each { |a| a.parent.remove }
doc.search('a[id^=cmnt]').each { |a| a.parent.parent.remove }
doc.search('a').each do |a|
  if a['href'] =~ /youtube/
    a.inner_html = '<i class="fab fa-youtube"></i> ' + a.inner_html
    if a.parent.parent.name == 'li'
      a.parent.parent['style'] = 'list-style-type: none; margin-left: -1.4em'
    elsif a.parent.parent.name == 'p'
      p = a.parent.parent
      p['style'] = 'margin-bottom: 0';
    end
  end
  
  a.inner_html = "https://#{URI(a.inner_html).host}/..." if a.inner_html.starts_with?('http')
  a['href'] = 'https://buy.stripe.com/cN2cNwaBIg6a5RmeVa'
  a['target'] = '_blank'  
end
doc.search('img').each { |img| img['src'] = "/Life as Practice/#{img['src']}" }
doc
%>
</div>
