<div class="row justify-content-center">
  <div class="col-lg-9">
    <img class="w-100" src="https://autopia.s3.amazonaws.com/2022/07/13/11/36/03/96394251-0af2-4126-a99f-2b127a13bff8/Untitled-6.jpg" />

    <p class="lead mt-3">
      Thank you for purchasing <em>Life as Practice</em>!
    </p>

    <ol>
      <li>You will shortly receive an invite to the Google Doc as a viewer (this can take a bit longer if you used a code).
        If you'd like commenting permissions, <a href="mailto:stephen@stephenreid.net">drop me a line</a> (it's currently not possible for this to happen automatically).
      </li>
      <li>You can join the Telegram group via <a href="https://t.me/+FHiQNNQ0PitjZmE0">https://t.me/+FHiQNNQ0PitjZmE0</a></li>
      <li>When booking a place on a future Life as Practice course, use the code LIFE99 to receive your £99 discount.</li>
    </ol>

    <p>
      With gratitude,<br />
      Stephen
    </p>
  </div>
</div>
