<p class="lead">Assets available to trade on Loopring but not ICONOMI</p>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Market cap rank</th>
    </tr>
  </thead>
  <% ((Asset.loopring_symbols) - Asset.pluck(:ticker)).map { |ticker| [ticker, coingecko_id = Asset.loopring_coingecko_id(ticker), asset = Asset.coingecko(coingecko_id)] }.sort_by { |ticker, coingecko_id, asset| asset['market_cap_rank'] || Float::INFINITY }.each { |ticker, coingecko_id, asset| %>
  <tr>
    <td>
      <a href="https://www.coingecko.com/en/coins/<%=coingecko_id%>">
        <%= asset['name'] %>
        (<%= ticker %>)
      </a>
    </td>
    <td>
      <%= asset['market_cap_rank'] %>
    </td>
  </tr>
  <% } %>
</table>
