
<p>
  I'm the lead developer of <a target="_blank" href="http://wordsandwriting.github.io/lumen/">Lumen</a>, a group discussion platform originally developed for NEF that fills the gap between Google Groups and a social network.
  It's used by organiastions including NEF, Positive Money and 350.org.
</p>

<p>
  Check out the <a target="_blank" href="http://wordsandwriting.github.io/lumen/">project page on Github</a> or the
  <a target="_blank" href="http://www.neweconomics.org/blog/entry/announcing-lumen-an-online-group-discussion-platform">a blog post announcing its open-sourcing on the NEF blog</a>.
</p>

