
<div class="row justify-content-center">
  <div class="col-9 col-md-4">
    <img class="w-100" src="/images/lunarpunk_dreams.png" />
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-9">
  <%= md :lunarpunk_dreams_1 %>

  <div class="my-3">
    <iframe src="https://open.spotify.com/embed/show/10ctU5qPd41ltAjIg9lw2O?utm_source=generator&theme=0&t=0" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  </div>

  <%= md :lunarpunk_dreams_2 %>
  </div>
</div>
