<p><a class="btn btn-sm btn-secondary" href="/"><i class="fas fa-list"></i> Switch to list view</a></p>

<% form_tag '', :method => :get, :class => 'mb-1 form-inline' do %>
  <div class="form-check">
    <%= hidden_field_tag :map, value: 1 %>
    <%= check_box_tag :plans, class: 'form-check-input', id: 'plans', onchange: 'this.form.submit()', checked: params[:plans] %>
    <label class="form-check-label" for="plans">
      Show only plans for the future
    </label>
  </div>
<% end %>

<%= partial :map %>

<p class="mt-3">See also my <a target="_blank" href="https://www.google.co.uk/maps/contrib/102982136084858811312/reviews/">Google Maps reviews</a></p>