<p><a class="btn btn-sm btn-secondary" href="/places"><i class="fas fa-list"></i> Switch to list view</a></p>

<% form_tag '', :method => :get, :class => 'mb-1 form-inline' do %>
  <div class="form-check">
    <%= hidden_field_tag :map, value: 1 %>
    <%= check_box_tag :plans, class: 'form-check-input', id: 'plans', onchange: 'this.form.submit()', checked: params[:plans] %>
    <label class="form-check-label" for="plans">
      Show only plans for the future
    </label>
  </div>
<% end %>


<%= partial :map %>