<% form_tag '', :method => :get, :class => 'mb-1 form-inline' do %>
  <div class="form-check">
    <%= check_box_tag :plans, class: 'form-check-input', id: 'plans', onchange: 'this.form.submit()', checked: params[:plans] %>
    <label class="form-check-label" for="plans">
      Show only plans for the future
    </label>
  </div>
<% end %>


<%= partial :map %>