
<table class="table">
  <%
  [
    ['The Psychedelic Society', 'http://www.psychedelicsociety.org.uk/', 'Founder and director'],
    ['New Economy Organisers Network', 'http://www.neweconomyorganisersnetwork.org/', 'Co-founder'],
    ['UK Uncut', 'http://www.ukuncut.org.uk', 'Co-founder'],    
    ['The Intruders', 'http://www.theintruders.org', 'Co-founder'],        
    ['Greenpeace UK', 'http://www.greenpeace.org.uk', 'Board member'],    
    ['Lumen', 'https://github.com/wordsandwriting/lumen', 'Creator and lead developer'],
    ['TeamStatus', 'http://www.teamstatusapp.com/'],
    ['Liquidocracy', 'http://www.liquidocracy.com/'],
    ['Green Party Meme Builder', 'http://greenpartymemebuilder.herokuapp.com/'],
    ['City Hunt', 'http://www.cityhunt.co.uk/'],
    ['Incredible Edible Southwark', 'http://www.incredible-edible-southwark.org.uk/'],
    ['Making sense of the Register of Members\' Financial Interests', 'http://financialinterests.herokuapp.com/'],          
    ['Community detection', 'https://dl.dropboxusercontent.com/u/136370/reid_report_final.pdf']
    ].each { |name, url, comment|
  %>
    <tr>
      <td><a target="_blank" href="<%=url%>"><%=name%></a></td>
      <td><%=comment%></td>
    </tr>
  <% } %>
</table>

<p>
  Things I've written have appeared in the
  <a target="_blank" href="http://www.theguardian.com/profile/stephen-reid">Guardian</a>,
  the <a target="_blank"  href="http://www.independent.co.uk/biography/stephen-reid">Independent</a>
  and on the <a target="_blank"  href="http://www.neweconomics.org/blog/by/stephen-reid">nef blog</a>.
</p>
