<p><a href="https://autopia.co/places">See these places on a map on Autopia</a></p>

<iframe class="mb-3" src="https://autopia.co/u/stephenreid321/places" style="border:0; width: 100%; height: 500px"></iframe>