
<% hosts = {} %>
<% client = Pocket.client(:access_token => ENV['POCKET_ACCESS_TOKEN']) %>
<% items = client.retrieve(:detailType => :complete)['list']; items.each  { |id, item|
  domain = URI(item['resolved_url']).host.gsub('www.','')
  hosts[domain] = [] if !hosts[domain]
  hosts[domain] << item
  } %>

<% hosts.sort_by { |domain, items| -items.count }.each { |domain, items| %>
  <h1><%=domain%> <span class="badge badge-primary"><%=items.count%></span></h1>
  <ul class="list-unstyled">
    <% items.each { |item| %>
      <li>
        <h3>
          <a href="<%= item['resolved_url'] %>"><%= item['resolved_title'] %></a>
        </h3>
      </li>
    <% } %>
  </ul>
<% } %>