
<div class="text-center">
  <a href="https://anchor.fm/stephenreid321"><img style="max-width: 300px" src="/images/in dialogue.png" /></a>
  <p class="lead">
    Listen and subscribe via 
    <a href="https://anchor.fm/stephenreid321">Anchor</a>
    or
    <a href="https://www.youtube.com/channel/UCHv6VkfPWq-Rkk2HKZ8A2BA">YouTube</a>, and 
    <a href="https://www.facebook.com/groups/stephen.reid.in.dialogue/">join the Facebook group</a>
  </p>
</div>

<h2 class="mt-5">Podcast appearances</h2>

<%= partial :podcast_appearances %>
