
<div class="text-center">
  <a href="https://anchor.fm/stephenreid321"><img style="max-width: 300px" src="/images/in dialogue.png" /></a>
  <p class="lead mt-3">
    Listen and subscribe via 
    <a href="https://anchor.fm/stephenreid321">Anchor</a>
  </p>
</div>

<h2 class="mt-5">Podcast appearances</h2>

<%= partial :podcast_appearances %>
