
<p class="lead mt-3 text-center">
  Listen and subscribe on your preferred platform via
  <a href="https://anchor.fm/stephenreid321">Anchor</a>
</p>

<div class="mt-3">
  <iframe src="https://open.spotify.com/embed-podcast/episode/0uphYCZgcAVIq4YApl4bY2" style="border: 0; width: 100%; height: 232px;" allowfullscreen allow="encrypted-media"></iframe>
</div>

<h2 class="mt-5">Appearances on other podcasts</h2>

<%= partial :podcast_appearances %>
