<script src="https://raw.githubusercontent.com/christianbach/tablesorter/master/jquery.tablesorter.min.js"></script>
<script>
  $(function () {
    $('a.countme').each(function () {
      var a = this;
      var primaryUrl = $(this).attr('href')
      var twitterSearchString = primaryUrl;
      var urls = [];
      if (primaryUrl == 'http://speakout.38degrees.org.uk') {
        twitterSearchString = 'speakout.38degrees.org.uk'
        for (var i = 1; i < 100; i++) {
          urls.push('http://speakout.38degrees.org.uk/campaigns/' + i)
        }
        console.log(urls)
      } else {
        urls = [primaryUrl]
      }
      $.each(urls, function (i, url) {
        $.getJSON('http://graph.facebook.com/?ids=' + encodeURIComponent(url), function (data) {
          var n = $(a).parent().next().text().length > 0 ? parseInt($(a).parent().next().text()) : 0
          $(a).parent().next().text(n + (data[url]['shares'] || 0));
        });
        $.getJSON("http://urls.api.twitter.com/1/urls/count.json?url=" + encodeURIComponent(url) + "&callback=?", function (data) {
          var n = $(a).parent().next().next().text().length > 0 ? parseInt($(a).parent().next().next().text()) : 0
          $(a).parent().next().next().html('<a target="_blank" href="http://twitter.com/search?q=' + twitterSearchString + '">' + (n + data['count']) + '</a>');
        });
      });
    });
    $(document).ajaxComplete(function () {
      $("#hits").tablesorter({sortList: [[1, 1]]});
    })
  });
</script>

<p>
  I work as a freelance digital creative for organisations including 38 Degrees, the New Economics Foundation and the Green Party.
  You can find examples of my work below.
  I'm occasionally available for work; you're welcome to <a href="mailto:stephen.reid.inbox@gmail.com">get in touch</a>.
</p>

<table id="hits" class="table">
  <thead>
    <tr>
      <th></th>
      <th title="Facebook shares" ><i class="fa fa-facebook-square"></i></th>
      <th title="Twitter shares" ><i class="fa fa-twitter"></i></th>
    </tr>
  </thead>    
  <%
  [
    ["Don't Be A Fucking Idiot", 'http://www.dontbeafuckingidiot.uk'],
    ["Make Labour Awesome Again", 'http://makelabourawesomeagain.uk/'],
    ['Exposing Nigel', 'http://www.exposingnigel.uk'],      
    ['Pledge to Vote Green', 'http://pledge.greenparty.org.uk'],
    ['Reasons to Vote Green', 'http://www.reasonstovotegreen.org.uk'],
    ['Brandalism', 'http://www.brandalism.org.uk'],
    ['Back Balcombe', 'http://www.backbalcombe.org'],    
    ['I set up Parasite Street to balance the benefits debate', 'http://www.independent.co.uk/voices/comment/i-set-up-parasite-street-to-balance-the-benefits-debate-9067202.html'],        
    ['Parasite Street', 'http://www.parasite-street.co.uk'],    
    ['Black tie activists crash HMRC boss\' retirement do', 'http://www.youtube.com/watch?v=3w4tcIsaInE'],
    ['The Intruders crash the Investment Banking Awards in Mayfair', 'http://www.youtube.com/watch?v=WXhqvAbUDmg'],
    ['Paint a Fish', 'http://www.paintafish.org'],
    ['Happy Planet Index', 'http://www.happyplanetindex.org'],          
    ].each { |name, url|
  %>
    <tr>
      <td><a target="_blank" class="countme" href="<%=url%>"><%=name%></a></td>
      <td></td>
      <td></td>
    </tr>
  <% } %>
</table>


