
<ul>  
  <li>Wake up around 7am and jot down any dreams/ideas my notebook</li>
  <li>Meditate (<a href="https://insighttimer.com/">Insight Timer</a>)</li> 
  <li>Morning stretches</li>
  <li>Tend to mushrooms and plants</li>  
  <li>Eat breakfast and take supplements
    <ul>
      <li><a href="https://hostdefense.com/products/mycommunity-capsules">MyCommunity</a> blend of 17 mushroom species</li>
      <li><a href="https://www.mindlabpro.com/eu/">Mind Lab Pro</a> nootropic</li>
      <li><a href="https://www.amazon.co.uk/gp/product/B01N4A5DH6">High strength turmeic with black pepper and ginger</a></li>
    </ul>
  </li>
  <li>Study a language (<a href="https://www.ankiapp.com/">Anki</a>): Spanish, German</a>
  <li>Listen to a <a href="/podcasts">podcast</a> (<a href="http://stitcher.com/">Stitcher</a>, <a href="https://www.youtube.com/channel/UCHv6VkfPWq-Rkk2HKZ8A2BA">YouTube</a>) whilst cycling to my coworking space</li>
  <li>Eat lunch</li>      
  <li>Connect to the body: yoga, swimming, dancing, running</li>      
  <li>
    Read a book (<a href="http://goodreads.com/stephenreid321">Goodreads</a>),
    watch a film (<a href="https://www.imdb.com/user/ur85653381/">IMDb</a>)
    or discover new music
    (<a href="https://soundcloud.com/stephenreid321/">Soundcloud</a>,
    <a href="https://hypem.com/stephenreid321">Hype Machine</a>,
    <a href="http://deezer.com">Deezer</a>,
    <a href="https://www.mixcloud.com/stephenreid321/">Mixcloud</a>)
  </li>
  <li>Cook dinner</li>
  <li>Go to bed around 11pm</li>  
</ul>

<h2>Diet</h2>
<ul>  
  <li>Plant-based vegetarian<br></li>
  <li>Low dairy<br><ul>
      <li>Cheese → <a href="http://www.onegreenplanet.org/vegan-food/how-to-add-umami-flavor-to-vegan-dishes/" target="_blank">Vegan umami flavours</a><br></li>
      <li>Milk/yoghurt → Soy/rice/nut/coconut alternatives<br></li>
      <li>Butter → Oil<br></li>
    </ul>
  </li>  
  <li>Few eggs</li>
  <li>Low sugar, complex over simple carbs</li>
  <li>Top breakfast: muesli (oats + nuts + seeds + fruit)</li>
  <li>Top complete food: <a href="http://bertrand.bio">Bertrand</a></li>
  <li>Fast from time to time</li>
  <li>Drink plenty of water & tea, some fresh juice</li>
  <li>Coffee and alcohol only on special occasions</li>
  <li>Medicinal foods: turmeric + black pepper, mushroom extract, lemon, ginger, garlic, green tea, cayenne</li>
  <li>Living foods: probiotic yoghurt, kombucha</li>
  <li>Natural soaps</li>
  <li>Mindful use of smartphone (<a href="https://play.google.com/store/apps/details?id=mrigapps.andriod.breakfree.deux">SPACE</a>)  
</ul>