<p class="lead">Recommended software</p>

<div class="row">
<%  
@softwares.each { |software|
  json = JSON.parse(software['Iframely'])
  next unless json['links'] && json['links']['thumbnail']
%>
  <div class="col-sm-4 mb-3">
    <%= partial :software, :locals => {:software => software, :json => json} %>
  </div>
<% } %>
</div>