<p class="lead">
  Last updated <%= time_ago_in_words Date.parse(Software.all(sort: { 'Updated at' => 'desc'}).first['Updated at']) %> ago
</p>

<% types = Software.all(filter: '{Featured} = 1').map { |software| software['Type'] || '' }
   (types.uniq.reject { |t| t == '' }.sort + ['']).each { |type| %>
<% softwares = Software.all(filter: "AND({Featured} = 1, {Type} = '#{type}')", sort: {'Name' => 'asc'}); if softwares.count > 0 %>
<h2 class="mt-5"><%= type.blank? ? 'Everything else' : type %></h2>
<div class="row">
  <% softwares.each { |software| %>
  <div class="col-sm-4 mb-3">
    <%= partial :software, locals: { software: software } %>
  </div>
  <% } %>
</div>
<% end %>
<% } %>
