<p class="lead">
  Last updated <%= time_ago_in_words Time.parse(SpeakingEngagement.all(sort: { 'Updated at' => 'desc'}).first['Updated at']) %> ago
</p>

<dl class="row">
  <% SpeakingEngagement.all(filter: '{Hidden} = 0', sort: { 'Date' => 'desc' }).each { |speaking_engagement| %>
  <%= partial :speaking_engagement, object: speaking_engagement %>
  <% } %>
</dl>
