<h1>What I've been listening to</h1>

<ul>
<% Post.all(filter: "{Created at} != ''", sort: { "Created at" => "desc"}).each { |post| %>
  <li>
    <a href="<%=post['Link']%>"><%=post['Title']%></a>
    <%
    d = URI(post['Link']).host.gsub('www.','')
    named_domains = {
      'youtube.com' => 'YouTube',
      'open.spotify.com' => 'Spotify',
      'stitcher.com' => 'Stitcher',
      'medium.com' => 'Medium',
      'theguardian.com' => 'The Guardian'
      }
    named_domains[d] || d 
  %> 
  </li>
<% } %>
</ul>
