

<p class="lead">
  One of the safest and most responsible ways of getting hold of psychedelics is to use
  a darknet marketplace, and it for this reason I host a <a href="/darknet">step-by-step guide</a>.
  This article goes into a bit more detail on why using the darknet to obtain psychedelics is better for you and better for society.
</p>

<h2 id="quality">You know what you're getting</h2>

<p>
  Since the <a href="http://psychedelicsociety.org.uk/introduction#are-psychedelics-safe">classical psychedelics are safe</a>, the greatest risk associated with their use is the potential for being missold something else. 
</p>
<p>
  Misselling rarely happens on the popular darknet marketplaces, however, due to the Amazon-like feedback systems. If you're buying from a vendor with hundreds or thousands of positive reviews, you can be confident you're getting what you asked for.
</p>

<h2 id="minimises-violence">Minimises drug-related violence</h2>

<p>
  One of most difficult parts in making the decision to purchase drugs is the knowledge that you may be supporting violent crime in the supply chain.
</p>
<p>
  Of course, drug supply chains are not inherently violent &ndash; no one gets hurt in the manufacture of paracetemol or alcohol.
  <em>The violence of the drug trade is precisely a consequence of prohibition.</em>
</p>
<p>
  The only sustainable solution to ending the violence is an end to the war on drugs and a shift to legal regulation. Users of darknet marketplaces are helping to undermine this war by showing the war on drugs <em>cannot</em> be won. The more people that use the darknet, the sooner we will see <a href="http://www.tdpf.org.uk/case-for-reform">a shift to legal regulation and elimination of drug-related violence</a>.
</p>
<p>
  A <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2436643">recent study</a> by
  researchers at the University of Manchester and University of Lausanne suggests that the darknet is
  actually already helping to reduce violence, with the anonymous nature of deals <a href="http://www.theverge.com/2014/6/2/5772572/silk-road-may-have-prevented-drug-violence-study-says">preventing
    physical retaliation and cutting out middlemen</a>.</p>

<hr>

<span style="font-weight: bold;">Read more:</span>
<ul>
  <li><a target="_blank" href="http://www.adamsmith.org/blog/uncategorized/online-illegal-drugs-markets-show-us-the-potential-benefits-of-legalisation/">Online illegal drugs markets show us the potential benefits of legalisation</a>, The Adam Smith Institute</li>
  <li><a target="_blank" href="http://www.theguardian.com/commentisfree/2013/oct/03/silk-road-drug-selling-website-fbi">Silk Road could have led the way to safer drug use</a>, The Guardian</li>  
  <li><a href="http://www.theverge.com/2014/6/2/5772572/silk-road-may-have-prevented-drug-violence-study-says">Silk Road may have prevented drug violence</a>, The Verge</li>
  <li><a target="_blank" href="http://www.vice.com/en_uk/read/silk-road-is-good-for-you">Buying Your Drugs Online Is Good for You</a>, Vice</li>
  <li><a target="_blank" href="http://www.vice.com/read/silk-road-two-shut-down-mike-power-203">Closing Silk Road 2.0 Isn't Going to Stop Anyone from Selling Drugs Online</a>, Vice</li>
  <li><a target="_blank" href="http://www.washingtonpost.com/blogs/wonkblog/wp/2014/11/06/how-the-fbi-just-made-the-world-a-more-dangerous-place-by-shutting-down-silkroad-2-0-and-a-bunch-of-online-drug-markets/">How the FBI just made the world a more dangerous place by shutting down Silk Road 2.0 and a bunch of online drug markets</a>, Washington Post</li>
</ul>